<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright 2021 Shulie Technology, Co.Ltd
  ~ Email: shulie@shulie.io
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pamirs.tro.entity.dao.report.TReportSummaryMapper">
    <resultMap id="BaseResultMap" type="com.pamirs.tro.entity.domain.entity.report.ReportSummary">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="report_id" property="reportId" jdbcType="BIGINT"/>
        <result column="bottleneck_interface_count" property="bottleneckInterfaceCount" jdbcType="INTEGER"/>
        <result column="risk_machine_count" property="riskMachineCount" jdbcType="INTEGER"/>
        <result column="business_activity_count" property="businessActivityCount" jdbcType="INTEGER"/>
        <result column="unachieve_business_activity_count" property="unachieveBusinessActivityCount"
                jdbcType="INTEGER"/>
        <result column="application_count" property="applicationCount" jdbcType="INTEGER"/>
        <result column="machine_count" property="machineCount" jdbcType="INTEGER"/>
        <result column="warn_count" property="warnCount" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, report_id, bottleneck_interface_count, risk_machine_count, business_activity_count,
    unachieve_business_activity_count, application_count, machine_count, warn_count
    </sql>
    <select id="selectByExample" resultMap="BaseResultMap"
            parameterType="com.pamirs.tro.entity.domain.entity.report.ReportSummary">

    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from t_report_summary
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="selectOneByReportId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_report_summary
        where report_id = #{reportId,jdbcType=BIGINT}
    </select>
    <insert id="insert" parameterType="com.pamirs.tro.entity.domain.entity.report.ReportSummary">
        insert into t_report_summary (id, report_id, bottleneck_interface_count,
                                      risk_machine_count, business_activity_count,
                                      unachieve_business_activity_count, application_count,
                                      machine_count, warn_count)
        values (#{id,jdbcType=BIGINT}, #{reportId,jdbcType=BIGINT}, #{bottleneckInterfaceCount,jdbcType=INTEGER},
                #{riskMachineCount,jdbcType=INTEGER}, #{businessActivityCount,jdbcType=INTEGER},
                #{unachieveBusinessActivityCount,jdbcType=INTEGER}, #{applicationCount,jdbcType=INTEGER},
                #{machineCount,jdbcType=INTEGER}, #{warnCount,jdbcType=INTEGER})
    </insert>

    <delete id="deleteByReportId">
        delete
        from t_report_summary
        where report_id = #{reportId,jdbcType=BIGINT}
    </delete>
</mapper>
