<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2021 Shulie Technology, Co.Ltd
  ~ Email: shulie@shulie.io
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.shulie.tro.cloud.data.mapper.mysql.AccountBookMapper">
  <resultMap id="BaseResultMap" type="io.shulie.tro.cloud.data.model.mysql.AccountBookEntity">
    <!--@mbg.generated-->
    <!--@Table t_ac_account_book-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="uid" jdbcType="BIGINT" property="uid" />
    <result column="acc_id" jdbcType="BIGINT" property="accId" />
    <result column="parent_book_id" jdbcType="BIGINT" property="parentBookId" />
    <result column="balance" jdbcType="DECIMAL" property="balance" />
    <result column="lock_balance" jdbcType="DECIMAL" property="lockBalance" />
    <result column="total_balance" jdbcType="DECIMAL" property="totalBalance" />
    <result column="subject" jdbcType="INTEGER" property="subject" />
    <result column="direct" jdbcType="TINYINT" property="direct" />
    <result column="rule" jdbcType="VARCHAR" property="rule" />
    <result column="rule_balance" jdbcType="DECIMAL" property="ruleBalance" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="is_deleted" jdbcType="BOOLEAN" property="isDeleted" />
    <result column="tags" jdbcType="BIGINT" property="tags" />
    <result column="features" jdbcType="LONGVARCHAR" property="features" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_update" jdbcType="TIMESTAMP" property="gmtUpdate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `uid`, acc_id, parent_book_id, balance, lock_balance, total_balance, subject,
    direct, `rule`, rule_balance, start_time, end_time, `status`, version, is_deleted,
    tags, features, gmt_create, gmt_update
  </sql>
</mapper>
