<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright 2021 Shulie Technology, Co.Ltd
  ~ Email: shulie@shulie.io
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.shulie.tro.cloud.data.mapper.mysql.EnginePluginMapper">
    <resultMap id="BaseResultMap" type="io.shulie.tro.cloud.data.model.mysql.EnginePluginEntity">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="plugin_type" property="pluginType" jdbcType="VARCHAR"/>
        <result column="plugin_name" property="pluginName" jdbcType="VARCHAR"/>
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP"/>
        <result column="gmt_update" property="gmtUpdate" jdbcType="TIMESTAMP"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
    </resultMap>

    <resultMap id="EnginePluginSimpleInfoResult" type="io.shulie.tro.cloud.data.result.engine.EnginePluginSimpleInfoResult">
        <result column="id" property="pluginId" jdbcType="BIGINT" />
        <result column="plugin_name" property="pluginName" jdbcType="VARCHAR" />
        <result column="plugin_type" property="pluginType" jdbcType="VARCHAR" />
        <result column="gmt_update" property="gmtUpdate" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectAvailablePluginsByType" resultMap="EnginePluginSimpleInfoResult" parameterType="java.util.List">
        select
            id, plugin_name,
            plugin_type,
            date_format(gmt_update, '%Y-%m-%d %H:%i:%s') as gmt_update
        from t_engine_plugin_info
        where status = 1 and plugin_type in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item, jdbcType=VARCHAR}
        </foreach>
    </select>

    <select id="selectEnginePluginSupportedVersions" parameterType="java.lang.Long" resultType="java.util.HashMap">
        select
            supported_version as supportedVersion
        from t_engine_plugin_supported_versions
        where plugin_id = #{pluginId, jdbcType=BIGINT}
    </select>

    <insert id="insertEnginePluginInfo" parameterType="io.shulie.tro.cloud.data.model.mysql.EnginePluginEntity" useGeneratedKeys="true" keyProperty="id">
        insert into t_engine_plugin_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pluginName != null">
                plugin_name,
            </if>
            <if test="pluginType != null">
                plugin_type,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="gmtUpdate != null">
                gmt_update,
            </if>
            <if test="status != null">
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pluginName != null">
                #{pluginName, jdbcType=VARCHAR},
            </if>
            <if test="pluginType != null">
                #{pluginType, jdbcType=VARCHAR},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate, jdbcType=TIMESTAMP},
            </if>
            <if test="gmtUpdate != null">
                #{gmtUpdate, jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                #{status, jdbcType=TINYINT},
            </if>
        </trim>
    </insert>

    <update id="updateEnginePluginInfo" parameterType="io.shulie.tro.cloud.data.model.mysql.EnginePluginEntity">
        update t_engine_plugin_info
        <set>
            <if test="pluginName != null">
                plugin_name = #{pluginName, jdbcType=VARCHAR},
            </if>
            <if test="pluginType != null">
                plugin_type = #{pluginType, jdbcType=VARCHAR},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate, jdbcType=TIMESTAMP},
            </if>
            <if test="gmtUpdate != null">
                gmt_update = #{gmtUpdate, jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                status = #{status, jdbcType=TINYINT},
            </if>
        </set>
    </update>

</mapper>
