<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2021 Shulie Technology, Co.Ltd
  ~ Email: shulie@shulie.io
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.shulie.tro.cloud.data.mapper.mysql.PressureMachineMapper">
  <resultMap id="BaseResultMap" type="io.shulie.tro.cloud.data.model.mysql.PressureMachineEntity">
    <!--@mbg.generated-->
    <!--@Table t_pressure_machine-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="task_id" jdbcType="BIGINT" property="taskId" />
    <result column="public_ip" jdbcType="VARCHAR" property="publicIp" />
    <result column="private_ip" jdbcType="VARCHAR" property="privateIp" />
    <result column="instance_id" jdbcType="VARCHAR" property="instanceId" />
    <result column="instance_name" jdbcType="VARCHAR" property="instanceName" />
    <result column="region_id" jdbcType="VARCHAR" property="regionId" />
    <result column="region_name" jdbcType="VARCHAR" property="regionName" />
    <result column="platform_id" jdbcType="BIGINT" property="platformId" />
    <result column="platform_name" jdbcType="VARCHAR" property="platformName" />
    <result column="account_id" jdbcType="BIGINT" property="accountId" />
    <result column="account_name" jdbcType="VARCHAR" property="accountName" />
    <result column="spec_id" jdbcType="BIGINT" property="specId" />
    <result column="spec" jdbcType="VARCHAR" property="spec" />
    <result column="ref_spec" jdbcType="VARCHAR" property="refSpec" />
    <result column="open_type" jdbcType="INTEGER" property="openType" />
    <result column="open_time" jdbcType="INTEGER" property="openTime" />
    <result column="expire_date" jdbcType="TIMESTAMP" property="expireDate" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="feature" jdbcType="LONGVARCHAR" property="feature" />
    <result column="is_delete" jdbcType="BOOLEAN" property="isDelete" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_update" jdbcType="TIMESTAMP" property="gmtUpdate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, task_id, public_ip, private_ip, instance_id, instance_name, region_id, region_name, 
    platform_id, platform_name, account_id, account_name, spec_id, spec, ref_spec, open_type, 
    open_time, expire_date, `status`, feature, is_delete, gmt_create, gmt_update
  </sql>
</mapper>