<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2021 Shulie Technology, Co.Ltd
  ~ Email: shulie@shulie.io
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.shulie.tro.cloud.data.mapper.mysql.SceneAddTempTableMapper">
  <resultMap id="BaseResultMap" type="io.shulie.tro.cloud.data.model.mysql.SceneAddTempTableEntity">
    <!--@mbg.generated-->
    <!--@Table t_scene_add_temp_table-->
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="BUSENESS_ID" jdbcType="VARCHAR" property="busenessId" />
    <result column="TECH_ID" jdbcType="VARCHAR" property="techId" />
    <result column="PARENT_BUSINESS_ID" jdbcType="VARCHAR" property="parentBusinessId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ID, BUSENESS_ID, TECH_ID, PARENT_BUSINESS_ID
  </sql>
</mapper>