<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2021 Shulie Technology, Co.Ltd
  ~ Email: shulie@shulie.io
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.shulie.amdb.mapper.AppMapper">
    <resultMap id="BaseResultMap" type="io.shulie.amdb.entity.AppDO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="app_name" jdbcType="VARCHAR" property="appName"/>
        <result column="app_manager" jdbcType="VARCHAR" property="appManager"/>
        <result column="project_name" jdbcType="VARCHAR" property="projectName"/>
        <result column="project_version" jdbcType="VARCHAR" property="projectVersion"/>
        <result column="git_url" jdbcType="VARCHAR" property="gitUrl"/>
        <result column="publish_package_name" jdbcType="VARCHAR" property="publishPackageName"/>
        <result column="project_submoudle" jdbcType="VARCHAR" property="projectSubmoudle"/>
        <result column="tenant" jdbcType="VARCHAR" property="tenant"/>
        <result column="app_type" jdbcType="VARCHAR" property="appType"/>
        <result column="app_type_name" jdbcType="VARCHAR" property="appTypeName"/>
        <result column="exception_info" jdbcType="VARCHAR" property="exceptionInfo"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="ext" jdbcType="VARCHAR" property="ext"/>
        <result column="flag" jdbcType="INTEGER" property="flag"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="creator_name" jdbcType="VARCHAR" property="creatorName"/>
        <result column="modifier" jdbcType="VARCHAR" property="modifier"/>
        <result column="modifier_name" jdbcType="VARCHAR" property="modifierName"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, app_name, app_manager, project_name, project_version, git_url, publish_package_name, 
    project_submoudle, tenant, app_type, app_type_name, exception_info, remark, ext, flag, creator, creator_name,
    modifier, modifier_name, gmt_create, gmt_modify
  </sql>
    <select id="selectOneByParam" parameterType="io.shulie.amdb.entity.AppDO" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_amdb_app
        <where>
            <if test="appName != null">
                and app_name=#{appName,jdbcType=VARCHAR}
            </if>
            <if test="appManager != null">
                and app_manager=#{appManager,jdbcType=VARCHAR}
            </if>
            <if test="projectName != null">
                and project_name=#{projectName,jdbcType=VARCHAR}
            </if>
            <if test="projectVersion != null">
                and project_version=#{projectVersion,jdbcType=VARCHAR}
            </if>
            <if test="gitUrl != null">
                and git_url=#{gitUrl,jdbcType=VARCHAR}
            </if>
            <if test="publishPackageName != null">
                and publish_package_name=#{publishPackageName,jdbcType=VARCHAR}
            </if>
            <if test="projectSubmoudle != null">
                and project_submoudle=#{projectSubmoudle,jdbcType=VARCHAR}
            </if>
            <if test="tenant != null">
                and tenant=#{tenant,jdbcType=VARCHAR}
            </if>
            <if test="appType != null">
                and app_type=#{appType,jdbcType=VARCHAR}
            </if>
            <if test="appTypeName != null">
                and app_type_name=#{appTypeName,jdbcType=VARCHAR}
            </if>
            <if test="exceptionInfo != null">
                and exception_info=#{exceptionInfo,jdbcType=VARCHAR}
            </if>
            <if test="remark != null">
                and remark=#{remark,jdbcType=VARCHAR}
            </if>
            <if test="ext != null">
                and ext=#{ext,jdbcType=VARCHAR}
            </if>
            <if test="flag != null">
                and flag=#{flag,jdbcType=INTEGER}
            </if>
            <if test="creator != null">
                and creator=#{creator,jdbcType=VARCHAR}
            </if>
            <if test="creatorName != null">
                and creator_name=#{creatorName,jdbcType=VARCHAR}
            </if>
            <if test="modifier != null">
                and modifier=#{modifier,jdbcType=VARCHAR}
            </if>
            <if test="modifierName != null">
                and modifier_name=#{modifierName,jdbcType=VARCHAR}
            </if>
            <if test="gmtCreate != null">
                and gmt_create=#{gmtCreate,jdbcType=TIMESTAMP}
            </if>
            <if test="gmtModify != null">
                and gmt_modify=#{gmtModify,jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>
    <select id="selectByFilter" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_amdb_app
        <where>
            ${filter}
        </where>
    </select>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="io.shulie.amdb.entity.AppDO"
            useGeneratedKeys="true">
    insert into t_amdb_app (app_name, app_manager, project_name, 
      project_version, git_url, publish_package_name, 
      project_submoudle, tenant, app_type, app_type_name, exception_info,
      remark, ext, flag, creator, 
      creator_name, modifier, modifier_name, 
      gmt_create, gmt_modify)
    values (#{appName,jdbcType=VARCHAR}, #{appManager,jdbcType=VARCHAR}, #{projectName,jdbcType=VARCHAR}, 
      #{projectVersion,jdbcType=VARCHAR}, #{gitUrl,jdbcType=VARCHAR}, #{publishPackageName,jdbcType=VARCHAR}, 
      #{projectSubmoudle,jdbcType=VARCHAR}, #{tenant,jdbcType=VARCHAR}, #{appType,jdbcType=VARCHAR}, #{appTypeName,jdbcType=VARCHAR}, #{exceptionInfo,jdbcType=VARCHAR},
      #{remark,jdbcType=VARCHAR}, #{ext,jdbcType=VARCHAR}, #{flag,jdbcType=INTEGER}, #{creator,jdbcType=VARCHAR}, 
      #{creatorName,jdbcType=VARCHAR}, #{modifier,jdbcType=VARCHAR}, #{modifierName,jdbcType=VARCHAR}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModify,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="io.shulie.amdb.entity.AppDO"
            useGeneratedKeys="true">
        insert into t_amdb_app
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="appName != null">
                app_name,
            </if>
            <if test="appManager != null">
                app_manager,
            </if>
            <if test="projectName != null">
                project_name,
            </if>
            <if test="projectVersion != null">
                project_version,
            </if>
            <if test="gitUrl != null">
                git_url,
            </if>
            <if test="publishPackageName != null">
                publish_package_name,
            </if>
            <if test="projectSubmoudle != null">
                project_submoudle,
            </if>
            <if test="tenant != null">
                tenant,
            </if>
            <if test="appType != null">
                app_type,
            </if>
            <if test="appTypeName != null">
                app_type_name,
            </if>
            <if test="exceptionInfo != null">
                exception_info,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="ext != null">
                ext,
            </if>
            <if test="flag != null">
                flag,
            </if>
            <if test="creator != null">
                creator,
            </if>
            <if test="creatorName != null">
                creator_name,
            </if>
            <if test="modifier != null">
                modifier,
            </if>
            <if test="modifierName != null">
                modifier_name,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="gmtModify != null">
                gmt_modify,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="appName != null">
                #{appName,jdbcType=VARCHAR},
            </if>
            <if test="appManager != null">
                #{appManager,jdbcType=VARCHAR},
            </if>
            <if test="projectName != null">
                #{projectName,jdbcType=VARCHAR},
            </if>
            <if test="projectVersion != null">
                #{projectVersion,jdbcType=VARCHAR},
            </if>
            <if test="gitUrl != null">
                #{gitUrl,jdbcType=VARCHAR},
            </if>
            <if test="publishPackageName != null">
                #{publishPackageName,jdbcType=VARCHAR},
            </if>
            <if test="projectSubmoudle != null">
                #{projectSubmoudle,jdbcType=VARCHAR},
            </if>
            <if test="tenant != null">
                #{tenant,jdbcType=VARCHAR},
            </if>
            <if test="appType != null">
                #{appType,jdbcType=VARCHAR},
            </if>
            <if test="appTypeName != null">
                #{appTypeName,jdbcType=VARCHAR},
            </if>
            <if test="exceptionInfo != null">
                #{exceptionInfo,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="ext != null">
                #{ext,jdbcType=VARCHAR},
            </if>
            <if test="flag != null">
                #{flag,jdbcType=INTEGER},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=VARCHAR},
            </if>
            <if test="creatorName != null">
                #{creatorName,jdbcType=VARCHAR},
            </if>
            <if test="modifier != null">
                #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="modifierName != null">
                #{modifierName,jdbcType=VARCHAR},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModify != null">
                #{gmtModify,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="io.shulie.amdb.entity.AppDO">
        update t_amdb_app
        <set>
            <if test="appName != null">
                app_name = #{appName,jdbcType=VARCHAR},
            </if>
            <if test="appManager != null">
                app_manager = #{appManager,jdbcType=VARCHAR},
            </if>
            <if test="projectName != null">
                project_name = #{projectName,jdbcType=VARCHAR},
            </if>
            <if test="projectVersion != null">
                project_version = #{projectVersion,jdbcType=VARCHAR},
            </if>
            <if test="gitUrl != null">
                git_url = #{gitUrl,jdbcType=VARCHAR},
            </if>
            <if test="publishPackageName != null">
                publish_package_name = #{publishPackageName,jdbcType=VARCHAR},
            </if>
            <if test="projectSubmoudle != null">
                project_submoudle = #{projectSubmoudle,jdbcType=VARCHAR},
            </if>
            <if test="tenant != null">
                tenant = #{tenant,jdbcType=VARCHAR},
            </if>
            <if test="appType != null">
                app_type = #{appType,jdbcType=VARCHAR},
            </if>
            <if test="appTypeName != null">
                app_type_name = #{appTypeName,jdbcType=VARCHAR},
            </if>
            <if test="exceptionInfo != null">
                exception_info = #{exceptionInfo,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="ext != null">
                ext = #{ext,jdbcType=VARCHAR},
            </if>
            <if test="flag != null">
                flag = #{flag,jdbcType=INTEGER},
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=VARCHAR},
            </if>
            <if test="creatorName != null">
                creator_name = #{creatorName,jdbcType=VARCHAR},
            </if>
            <if test="modifier != null">
                modifier = #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="modifierName != null">
                modifier_name = #{modifierName,jdbcType=VARCHAR},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModify != null">
                gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="io.shulie.amdb.entity.AppDO">
    update t_amdb_app
    set app_name = #{appName,jdbcType=VARCHAR},
      app_manager = #{appManager,jdbcType=VARCHAR},
      project_name = #{projectName,jdbcType=VARCHAR},
      project_version = #{projectVersion,jdbcType=VARCHAR},
      git_url = #{gitUrl,jdbcType=VARCHAR},
      publish_package_name = #{publishPackageName,jdbcType=VARCHAR},
      project_submoudle = #{projectSubmoudle,jdbcType=VARCHAR},
      tenant = #{tenant,jdbcType=VARCHAR},
      app_type = #{appType,jdbcType=VARCHAR},
      app_type_name = #{appTypeName,jdbcType=VARCHAR},
      exception_info = #{exceptionInfo,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      ext = #{ext,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=INTEGER},
      creator = #{creator,jdbcType=VARCHAR},
      creator_name = #{creatorName,jdbcType=VARCHAR},
      modifier = #{modifier,jdbcType=VARCHAR},
      modifier_name = #{modifierName,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modify = #{gmtModify,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <!--执行SQL-->
    <select id="selectBySql" parameterType="String" resultType="java.util.LinkedHashMap">
        ${value}
    </select>
</mapper>