<?xml version="1.0" encoding="utf-8" ?>
<!--
  ~ Copyright 2021 Shulie Technology, Co.Ltd
  ~ Email: shulie@shulie.io
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pamirs.tro.entity.dao.monitor.TReportAppIpDetailDao">


    <insert id="insert" parameterType="com.pamirs.tro.entity.domain.vo.TReportAppIpDetail"
            useGeneratedKeys="false">

        insert into t_report_app_ip_list
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="linkId != null">
                link_id,
            </if>
            <if test="reportId != null">
                report_id,
            </if>
            <if test="applicationName != null">
                application_name,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="systemName != null">
                system_name,
            </if>
            <if test="ip != null">
                ip,
            </if>
            <if test="cpu != null">
                cpu,
            </if>
            <if test="memory != null">
                memory,
            </if>
            <if test="ioread != null">
                io_read,
            </if>
            <if test="iowrite != null">
                io_write,
            </if>
            <if test="ioall != null">
                io_all,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="linkId != null">
                #{linkId,jdbcType=VARCHAR},
            </if>
            <if test="reportId != null">
                #{reportId,jdbcType=VARCHAR},
            </if>
            <if test="applicationName != null">
                #{applicationName,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="systemName != null">
                #{systemName,jdbcType=VARCHAR},
            </if>
            <if test="ip != null">
                #{ip,jdbcType=VARCHAR},
            </if>
            <if test="cpu != null">
                #{cpu,jdbcType=VARCHAR},
            </if>
            <if test="memory != null">
                #{memory,jdbcType=VARCHAR},
            </if>
            <if test="ioread != null">
                #{ioread,jdbcType=VARCHAR},
            </if>
            <if test="iowrite != null">
                #{iowrite,jdbcType=VARCHAR},
            </if>
            <if test="ioall != null">
                #{ioall,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>


    <select id="queryMachineDetail"
            resultType="com.pamirs.tro.entity.domain.vo.TReportAppIpDetail"
            parameterType="String">
        SELECT ID               AS id,
               link_id          as linkId,
               report_id        AS reportId,
               application_name AS applicationName,
               type             AS type,
               system_name      AS systemName,
               ip               AS ip,
               cpu              AS cpu,
               memory           AS memory,
               io_read          AS ioread,
               io_write         AS iowrite,
               io_all           AS ioall

        FROM t_report_app_ip_list
        where report_id = #{applicationName,jdbcType=VARCHAR}
        ORDER BY application_name, type
    </select>

    <!--报告应用详情通用字段列表-->
    <sql id="TReportAppIpDetailField">
        id,
        report_id,
        link_id as linkId,
        application_name,
        type,
        system_name,
        ip,
        cpu,
        memory,
        io_read as ioread,
        io_write as iowrite,
        io_all as ioall
    </sql>

    <!--查询报告应用详情-->
    <select id="countMechine" parameterType="String" resultType="com.pamirs.tro.entity.domain.vo.TReportAppIpDetail">
        select
        <include refid="TReportAppIpDetailField"/>
        from t_report_app_ip_list
        where
        report_id = #{reportId}
        and application_name = #{applicationName}
        and ip = #{ip}
        and link_id = #{linkId}
    </select>

    <!--查询报告应用详情列表-->
    <select id="queryReportAppIpListByReportIdAndLinkId" parameterType="String"
            resultType="com.pamirs.tro.entity.domain.vo.TReportAppIpDetail">
        SELECT
        <include refid="TReportAppIpDetailField"/>
        FROM
        t_report_app_ip_list
        WHERE 1=1
        <if test="reportId!=null and reportId!=''">
            AND report_id = #{reportId}
        </if>
        <if test="linkId!=null and linkId!=''">
            AND link_id = #{linkId}
        </if>
        GROUP BY application_name,type,system_name,ip
    </select>

    <update id="update" parameterType="com.pamirs.tro.entity.domain.vo.TReportAppIpDetail">
        update t_report_app_ip_list
        <set>
            <if test="linkId != null">
                link_id = #{linkId},
            </if>
            <if test="reportId != null">
                report_id = #{reportId},
            </if>
            <if test="applicationName != null">
                application_name = #{applicationName},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="systemName != null">
                system_name = #{systemName},
            </if>
            <if test="ip != null">
                ip = #{ip},
            </if>
            <if test="cpu != null">
                cpu = #{cpu},
            </if>
            <if test="memory != null">
                memory = #{memory},
            </if>
            <if test="ioread != null">
                io_read = #{ioread},
            </if>
            <if test="iowrite != null">
                io_write = #{iowrite},
            </if>
            <if test="ioall != null">
                io_all = #{ioall},
            </if>
        </set>
        where report_id = #{reportId}
        and link_id = #{linkId}
        and application_name = #{applicationName}
    </update>
</mapper>
