<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2021 Shulie Technology, Co.Ltd
  ~ Email: shulie@shulie.io
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pamirs.tro.entity.dao.isolation.TIsolationAppRegConfigMapper">
    <resultMap id="BaseResultMap" type="com.pamirs.tro.entity.domain.entity.TIsolationAppRegConfig">
        <id column="REG_ID" jdbcType="BIGINT" property="regId"/>
        <result column="REG_TYPE" jdbcType="VARCHAR" property="regType"/>
        <result column="REG_ADDR" jdbcType="VARCHAR" property="regAddr"/>
        <result column="ENABLE" jdbcType="TINYINT" property="enable"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <resultMap id="ListResultMap" type="com.pamirs.tro.entity.domain.dto.TIsolationAppRegConfigDTO"
               extends="BaseResultMap"/>
    <sql id="Base_Column_List">
        REG_ID, REG_TYPE, REG_ADDR, ENABLE, CREATE_TIME, UPDATE_TIME
    </sql>
    <select id="selectListByVO" resultMap="ListResultMap"
            parameterType="com.pamirs.tro.entity.domain.vo.TIsolationAppRegConfigVO">
        select
        <include refid="Base_Column_List"/>
        from t_isolation_app_reg_config
        <where>
            <if test="regIds!=null and regIds.size>0">
                and reg_id in
                <foreach collection="regIds" item="regId" open="(" separator="," close=")">
                    #{regId}
                </foreach>
            </if>
            <if test="regType!=null">
                and reg_type=#{regType,jdbcType=VARCHAR}
            </if>
            <if test="regAddr!=null">
                and reg_addr=#{regAddr,jdbcType=VARCHAR}
            </if>
            <if test="regId!=null">
                and reg_id=#{regId,jdbcType=BIGINT}
            </if>
            <if test="enable!=null">
                and enable=#{enable,jdbcType=TINYINT}
            </if>
        </where>
    </select>
    <insert id="insert" parameterType="com.pamirs.tro.entity.domain.entity.TIsolationAppRegConfig"
            useGeneratedKeys="true" keyColumn="REG_ID" keyProperty="regId">
        insert into t_isolation_app_reg_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="regType != null">
                REG_TYPE,
            </if>
            <if test="regAddr != null">
                REG_ADDR,
            </if>
            <if test="enable != null">
                ENABLE,
            </if>
            <if test="createTime != null">
                CREATE_TIME,
            </if>
            <if test="updateTime != null">
                UPDATE_TIME,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="regType != null">
                #{regType,jdbcType=VARCHAR},
            </if>
            <if test="regAddr != null">
                #{regAddr,jdbcType=VARCHAR},
            </if>
            <if test="enable != null">
                #{enable,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByRegId" parameterType="com.pamirs.tro.entity.domain.entity.TIsolationAppRegConfig">
        update t_isolation_app_reg_config
        <set>
            <if test="regType != null">
                REG_TYPE = #{regType,jdbcType=VARCHAR},
            </if>
            <if test="regAddr != null">
                REG_ADDR = #{regAddr,jdbcType=VARCHAR},
            </if>
            <if test="enable != null">
                ENABLE = #{enable,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where REG_ID = #{regId,jdbcType=BIGINT}
    </update>
    <select id="selectByRegId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_isolation_app_reg_config
        where REG_ID = #{regId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByRegIds" parameterType="java.lang.Long">
        delete from t_isolation_app_reg_config
        where REG_ID in
        <foreach open="(" separator="," close=")" collection="list" item="regId">
            #{regId,jdbcType=BIGINT}
        </foreach>
    </delete>
</mapper>
