<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2021 Shulie Technology, Co.Ltd
  ~ Email: shulie@shulie.io
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.shulie.tro.web.data.mapper.mysql.LeakcheckConfigDetailMapper">
  <resultMap id="BaseResultMap" type="io.shulie.tro.web.data.model.mysql.LeakcheckConfigDetailEntity">
    <!--@mbg.generated-->
    <!--@Table t_leakcheck_config_detail-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="datasource_id" jdbcType="BIGINT" property="datasourceId" />
    <result column="sql_content" jdbcType="VARCHAR" property="sqlContent"/>
    <result column="customer_id" jdbcType="BIGINT" property="customerId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_deleted" jdbcType="BOOLEAN" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, datasource_id, `sql_content`, customer_id, user_id, remark, create_time, update_time,
    is_deleted
  </sql>
</mapper>