module-id=command-channel
#export-class=
#import-class=
#export-package=
import-package=com.pamirs.pradar.*,com.shulie.instrument.simulator.module.model.*
#export-resource=
#import-resource=
# dependency of module or swither,multi split with comma
dependencies=pradar-core
# dependency simulator version
simulator-version=1.0.0-
# must use
must-use=true
