<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2021 Shulie Technology, Co.Ltd
  ~ Email: shulie@shulie.io
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pamirs.tro.entity.dao.simplify.TShadowJobConfigMapper">
    <resultMap id="BaseResultMap" type="com.pamirs.tro.entity.domain.entity.simplify.TShadowJobConfig">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="application_id" jdbcType="BIGINT" property="applicationId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="status" jdbcType="BIT" property="status"/>
        <result column="config_code" jdbcType="VARCHAR" property="configCode"/>
        <result column="active" jdbcType="BIT" property="active"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="customer_id" jdbcType="BIGINT" property="customerId"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, application_id, `name`, `type`, status,config_code, active,create_time, update_time,customer_id,user_id,remark
    </sql>
    <select id="selectList" parameterType="com.pamirs.tro.entity.domain.query.ShadowJobConfigQuery"
            resultMap="BaseResultMap">
        select
        'false' as QUERYID,
        <include refid="Base_Column_List"/>
        from t_shadow_job_config
        <include refid="Data_Where_Clause"/>
        <include refid="Data_Where_Plus"/>
    </select>
    <select id="selectListCount" parameterType="com.pamirs.tro.entity.domain.entity.simplify.TShadowJobConfig"
            resultMap="BaseResultMap">
        'false' as QUERYID,
        select count (*) from t_shadow_job_config
        <include refid="Data_Where_Clause"/>
    </select>
    <select id="selectOneById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        'false' as QUERYID,
        <include refid="Base_Column_List"/>
        from t_shadow_job_config where id = #{id,jdbcType=BIGINT} and is_deleted = 0
    </select>
    <select id="getAllEnableShadowJobs"
            resultType="com.pamirs.tro.entity.domain.entity.simplify.TShadowJobConfig">
        select
        <include refid="Base_Column_List"/>
        from t_shadow_job_config
        where
        status=0
        and is_deleted=0
        and application_id=#{applicationId}
    </select>
    <update id="delete" parameterType="java.lang.Long">
        update t_shadow_job_config
        set is_deleted = 1
        where id = #{id,jdbcType=BIGINT}
    </update>
    <insert id="insert" keyColumn="id" keyProperty="id"
            parameterType="com.pamirs.tro.entity.domain.entity.simplify.TShadowJobConfig" useGeneratedKeys="true">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        insert into t_shadow_job_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="applicationId != null">
                application_id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="configCode != null">
                config_code,
            </if>
            <if test="remark != null">
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="applicationId != null">
                #{applicationId,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=BIT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="configCode != null">
                #{configCode,jdbcType=LONGVARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="update" parameterType="com.pamirs.tro.entity.domain.entity.simplify.TShadowJobConfig">
        update t_shadow_job_config
        <set>
            <if test="applicationId != null">
                application_id = #{applicationId,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                `type` = #{type,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=BIT},
            </if>
            <if test="active != null">
                active = #{active,jdbcType=BIT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="configCode != null">
                config_code = #{configCode,jdbcType=LONGVARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <sql id="Data_Where_Clause">
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=BIGINT}
            </if>
            <if test="applicationId != null">
                and application_id = #{applicationId,jdbcType=BIGINT}
            </if>
            <if test="name != null">
                and `name` = #{name,jdbcType=VARCHAR}
            </if>
            <if test="type != null">
                and `type` = #{type,jdbcType=VARCHAR}
            </if>
            <if test="status != null">
                and status = #{status,jdbcType=BIT}
            </if>
            <if test="configCode != null">
                and config_code = #{configCode,jdbcType=LONGVARCHAR}
            </if>

            and is_deleted = 0
        </where>
    </sql>
    <sql id="Data_Where_Plus">
        <if test="orderBy != null">
            order by ${orderBy}
        </if>
    </sql>
</mapper>
