<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright 2021 Shulie Technology, Co.Ltd
  ~ Email: shulie@shulie.io
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pamirs.tro.entity.dao.scenemanage.TSceneScriptRefMapper">
    <resultMap id="BaseResultMap" type="com.pamirs.tro.entity.domain.entity.scenemanage.SceneScriptRef">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="scene_id" property="sceneId" jdbcType="BIGINT"/>
        <result column="script_type" property="scriptType" jdbcType="TINYINT"/>
        <result column="file_name" property="fileName" jdbcType="VARCHAR"/>
        <result column="file_size" property="fileSize" jdbcType="VARCHAR"/>
        <result column="file_type" property="fileType" jdbcType="TINYINT"/>
        <result column="file_extend" property="fileExtend" jdbcType="VARCHAR"/>
        <result column="upload_time" property="uploadTime" jdbcType="TIMESTAMP"/>
        <result column="upload_path" property="uploadPath" jdbcType="VARCHAR"/>
        <result column="is_deleted" property="isDeleted" jdbcType="TINYINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="create_name" property="createName" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="update_name" property="updateName" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, scene_id, script_type, file_name, file_size, file_type, file_extend, upload_time, upload_path, is_deleted,
    create_time, create_name, update_time, update_name
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from t_scene_script_ref
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from t_scene_script_ref
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <delete id="deleteByIds">
        delete from t_scene_script_ref
        where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id,jdbcType=BIGINT}
        </foreach>
    </delete>

    <insert id="insertSelective" parameterType="com.pamirs.tro.entity.domain.entity.scenemanage.SceneScriptRef"
            useGeneratedKeys="true" keyProperty="id">
        insert into t_scene_script_ref
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sceneId != null">
                scene_id,
            </if>
            <if test="scriptType != null">
                script_type,
            </if>
            <if test="fileName != null">
                file_name,
            </if>
            <if test="fileSize != null">
                file_size,
            </if>
            <if test="fileType != null">
                file_type,
            </if>
            <if test="fileExtend !=null ">
                file_extend,
            </if>
            <if test="uploadTime != null">
                upload_time,
            </if>
            <if test="uploadPath != null">
                upload_path,
            </if>
            <if test="isDeleted != null">
                is_deleted,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createName != null">
                create_name,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updateName != null">
                update_name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sceneId != null">
                #{sceneId,jdbcType=BIGINT},
            </if>
            <if test="scriptType != null">
                #{scriptType,jdbcType=TINYINT},
            </if>
            <if test="fileName != null">
                #{fileName,jdbcType=VARCHAR},
            </if>
            <if test="fileSize != null">
                #{fileSize,jdbcType=VARCHAR},
            </if>
            <if test="fileType != null">
                #{fileType,jdbcType=TINYINT},
            </if>
            <if test="fileExtend!= null ">
                #{fileExtend,jdbcType=VARCHAR} ,
            </if>
            <if test="uploadTime != null">
                #{uploadTime,jdbcType=TIMESTAMP},
            </if>
            <if test="uploadPath != null">
                #{uploadPath,jdbcType=VARCHAR},
            </if>
            <if test="isDeleted != null">
                #{isDeleted,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createName != null">
                #{createName,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateName != null">
                #{updateName,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <insert id="batchInsert">
        insert into t_scene_script_ref
        (scene_id, script_type, file_name, file_size, file_type,
        file_extend, upload_time, upload_path)
        values
        <foreach collection="items" item="item" separator=",">
            (
            #{item.sceneId},
            #{item.scriptType},
            #{item.fileName},
            #{item.fileSize},
            #{item.fileType},
            #{item.fileExtend},
            #{item.uploadTime},
            #{item.uploadPath}
            )
        </foreach>
    </insert>

    <update id="updateByPrimaryKeySelective"
            parameterType="com.pamirs.tro.entity.domain.entity.scenemanage.SceneScriptRef">
        update t_scene_script_ref
        <set>
            <if test="sceneId != null">
                scene_id = #{sceneId,jdbcType=BIGINT},
            </if>
            <if test="scriptType != null">
                script_type = #{scriptType,jdbcType=TINYINT},
            </if>
            <if test="fileName != null">
                file_name = #{fileName,jdbcType=VARCHAR},
            </if>
            <if test="fileSize != null">
                file_size = #{fileSize,jdbcType=VARCHAR},
            </if>
            <if test="fileType != null">
                file_type = #{fileType,jdbcType=TINYINT},
            </if>
            <if test="fileExtend != null ">
                file_extend = #{fileExtend,jdbcType=VARCHAR} ,
            </if>
            <if test="uploadTime != null">
                upload_time = #{uploadTime,jdbcType=TIMESTAMP},
            </if>
            <if test="uploadPath != null">
                upload_path = #{uploadPath,jdbcType=VARCHAR},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createName != null">
                create_name = #{createName,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateName != null">
                update_name = #{updateName,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectBySceneIdAndScriptType" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_scene_script_ref
        where scene_id = #{sceneId,jdbcType=BIGINT}
        and script_type = #{scriptType,jdbcType=TINYINT}
    </select>

    <select id="selectByExample" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_scene_script_ref where is_deleted = 0
        <if test="sceneId != null">
            and scene_id = #{sceneId,jdbcType=BIGINT}
        </if>
        <if test="fileName != null and fileName != ''">
            and file_name = #{fileName,jdbcType=VARCHAR}
        </if>
        limit 1
    </select>
</mapper>
