<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright 2021 Shulie Technology, Co.Ltd
  ~ Email: shulie@shulie.io
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pamirs.tro.entity.dao.settle.TAccountBookMapper">
    <resultMap id="BaseResultMap" type="com.pamirs.tro.entity.domain.entity.settle.AccountBook">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="uid" property="uid" jdbcType="BIGINT"/>
        <result column="acc_id" property="accId" jdbcType="BIGINT"/>
        <result column="parent_book_id" property="parentBookId" jdbcType="BIGINT"/>
        <result column="balance" property="balance" jdbcType="DECIMAL"/>
        <result column="lock_balance" property="lockBalance" jdbcType="DECIMAL"/>
        <result column="total_balance" property="totalBalance" jdbcType="DECIMAL"/>
        <result column="subject" property="subject" jdbcType="INTEGER"/>
        <result column="direct" property="direct" jdbcType="TINYINT"/>
        <result column="rule" property="rule" jdbcType="VARCHAR"/>
        <result column="rule_balance" property="ruleBalance" jdbcType="DECIMAL"/>
        <result column="start_time" property="startTime" jdbcType="TIMESTAMP"/>
        <result column="end_time" property="endTime" jdbcType="TIMESTAMP"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="version" property="version" jdbcType="INTEGER"/>
        <result column="is_deleted" property="isDeleted" jdbcType="BIT"/>
        <result column="tags" property="tags" jdbcType="BIGINT"/>
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP"/>
        <result column="gmt_update" property="gmtUpdate" jdbcType="TIMESTAMP"/>
        <result column="features" property="features" jdbcType="LONGVARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, uid, acc_id, parent_book_id, balance, lock_balance, total_balance, subject, direct,
    rule, rule_balance, start_time, end_time, status, version, is_deleted, tags, gmt_create,
    gmt_update, features
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from t_ac_account_book
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from t_ac_account_book
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insertSelective" parameterType="com.pamirs.tro.entity.domain.entity.settle.AccountBook">
        insert into t_ac_account_book
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uid != null">
                uid,
            </if>
            <if test="accId != null">
                acc_id,
            </if>
            <if test="parentBookId != null">
                parent_book_id,
            </if>
            <if test="balance != null">
                balance,
            </if>
            <if test="lockBalance != null">
                lock_balance,
            </if>
            <if test="totalBalance != null">
                total_balance,
            </if>
            <if test="subject != null">
                subject,
            </if>
            <if test="direct != null">
                direct,
            </if>
            <if test="rule != null">
                rule,
            </if>
            <if test="ruleBalance != null">
                rule_balance,
            </if>
            <if test="startTime != null">
                start_time,
            </if>
            <if test="endTime != null">
                end_time,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="version != null">
                version,
            </if>
            <if test="isDeleted != null">
                is_deleted,
            </if>
            <if test="tags != null">
                tags,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="gmtUpdate != null">
                gmt_update,
            </if>
            <if test="features != null">
                features,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uid != null">
                #{uid,jdbcType=BIGINT},
            </if>
            <if test="accId != null">
                #{accId,jdbcType=BIGINT},
            </if>
            <if test="parentBookId != null">
                #{parentBookId,jdbcType=BIGINT},
            </if>
            <if test="balance != null">
                #{balance,jdbcType=DECIMAL},
            </if>
            <if test="lockBalance != null">
                #{lockBalance,jdbcType=DECIMAL},
            </if>
            <if test="totalBalance != null">
                #{totalBalance,jdbcType=DECIMAL},
            </if>
            <if test="subject != null">
                #{subject,jdbcType=INTEGER},
            </if>
            <if test="direct != null">
                #{direct,jdbcType=TINYINT},
            </if>
            <if test="rule != null">
                #{rule,jdbcType=VARCHAR},
            </if>
            <if test="ruleBalance != null">
                #{ruleBalance,jdbcType=DECIMAL},
            </if>
            <if test="startTime != null">
                #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="version != null">
                #{version,jdbcType=INTEGER},
            </if>
            <if test="isDeleted != null">
                #{isDeleted,jdbcType=BIT},
            </if>
            <if test="tags != null">
                #{tags,jdbcType=BIGINT},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtUpdate != null">
                #{gmtUpdate,jdbcType=TIMESTAMP},
            </if>
            <if test="features != null">
                #{features,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.pamirs.tro.entity.domain.entity.settle.AccountBook">
        update t_ac_account_book
        <set>
            <if test="uid != null">
                uid = #{uid,jdbcType=BIGINT},
            </if>
            <if test="accId != null">
                acc_id = #{accId,jdbcType=BIGINT},
            </if>
            <if test="parentBookId != null">
                parent_book_id = #{parentBookId,jdbcType=BIGINT},
            </if>
            <if test="balance != null">
                balance = #{balance,jdbcType=DECIMAL},
            </if>
            <if test="lockBalance != null">
                lock_balance = #{lockBalance,jdbcType=DECIMAL},
            </if>
            <if test="totalBalance != null">
                total_balance = #{totalBalance,jdbcType=DECIMAL},
            </if>
            <if test="subject != null">
                subject = #{subject,jdbcType=INTEGER},
            </if>
            <if test="direct != null">
                direct = #{direct,jdbcType=TINYINT},
            </if>
            <if test="rule != null">
                rule = #{rule,jdbcType=VARCHAR},
            </if>
            <if test="ruleBalance != null">
                rule_balance = #{ruleBalance,jdbcType=DECIMAL},
            </if>
            <if test="startTime != null">
                start_time = #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                end_time = #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="version != null">
                version = #{version,jdbcType=INTEGER},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted,jdbcType=BIT},
            </if>
            <if test="tags != null">
                tags = #{tags,jdbcType=BIGINT},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtUpdate != null">
                gmt_update = #{gmtUpdate,jdbcType=TIMESTAMP},
            </if>
            <if test="features != null">
                features = #{features,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectOneByUserId" resultType="com.pamirs.tro.entity.domain.entity.settle.AccountBook">
        select
        <include refid="Base_Column_List"/>
        from t_ac_account_book
        where uid = #{userId}
        limit 1
    </select>

    <select id="selectByUserIds" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_ac_account_book
        where uid in
        <foreach collection="userIds" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
</mapper>
