<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2021 Shulie Technology, Co.Ltd
  ~ Email: shulie@shulie.io
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pamirs.tro.entity.dao.simplify.TAppMiddlewareInfoMapper">
    <resultMap id="BaseResultMap" type="com.pamirs.tro.entity.domain.entity.simplify.TAppMiddlewareInfo">
        <id column="ID" jdbcType="BIGINT" property="id"/>
        <result column="APPLICATION_ID" jdbcType="BIGINT" property="applicationId"/>
        <result column="JAR_NAME" jdbcType="VARCHAR" property="jarName"/>
        <result column="PLUGIN_NAME" jdbcType="VARCHAR" property="pluginName"/>
        <result column="JAR_TYPE" jdbcType="VARCHAR" property="jarType"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="ACTIVE" jdbcType="BIT" property="active"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        ID, APPLICATION_ID, JAR_NAME, PLUGIN_NAME, JAR_TYPE,user_id, ACTIVE, CREATE_TIME, UPDATE_TIME
    </sql>
    <select id="selectList" parameterType="com.pamirs.tro.entity.domain.query.agent.AppMiddlewareQuery"
            resultMap="BaseResultMap">
        select
        'false' as QUERYID,
        <include refid="Base_Column_List"/>
        from t_app_middleware_info
        <include refid="Data_Where_Clause"/>
        <include refid="Data_Where_Plus"/>
    </select>
    <select id="selectListCount" parameterType="com.pamirs.tro.entity.domain.entity.simplify.TAppMiddlewareInfo"
            resultMap="BaseResultMap">
        'false' as QUERYID,
        select count (*) from t_app_middleware_info
        <include refid="Data_Where_Clause"/>
    </select>
    <select id="selectOneById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        'false' as QUERYID,
        <include refid="Base_Column_List"/>
        from t_app_middleware_info where id = #{id,jdbcType=BIGINT}
    </select>
    <update id="delete" parameterType="java.lang.Long">
        update t_app_middleware_info
        set is_deleted = 1
        where ID = #{id,jdbcType=BIGINT}
    </update>

    <delete id="deleteBatch" parameterType="java.util.List">
        delete from t_app_middleware_info
        where ID in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <insert id="insert" keyColumn="ID" keyProperty="id"
            parameterType="com.pamirs.tro.entity.domain.entity.simplify.TAppMiddlewareInfo" useGeneratedKeys="true">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        insert into t_app_middleware_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="applicationId != null">
                APPLICATION_ID,
            </if>
            <if test="jarName != null">
                JAR_NAME,
            </if>
            <if test="pluginName != null">
                PLUGIN_NAME,
            </if>
            <if test="jarType != null">
                JAR_TYPE,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="active != null">
                ACTIVE,
            </if>
            <if test="hidden != null">
                HIDDEN,
            </if>
            <if test="createTime != null">
                CREATE_TIME,
            </if>
            <if test="updateTime != null">
                UPDATE_TIME,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="applicationId != null">
                #{applicationId,jdbcType=BIGINT},
            </if>
            <if test="jarName != null">
                #{jarName,jdbcType=VARCHAR},
            </if>
            <if test="pluginName != null">
                #{pluginName,jdbcType=VARCHAR},
            </if>
            <if test="jarType != null">
                #{jarType,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId},
            </if>
            <if test="active != null">
                #{active,jdbcType=BIT},
            </if>
            <if test="hidden != null">
                #{hidden},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="update" parameterType="com.pamirs.tro.entity.domain.entity.simplify.TAppMiddlewareInfo">
        update t_app_middleware_info
        <set>
            <if test="applicationId != null">
                APPLICATION_ID = #{applicationId,jdbcType=BIGINT},
            </if>
            <if test="jarName != null">
                JAR_NAME = #{jarName,jdbcType=VARCHAR},
            </if>
            <if test="pluginName != null">
                PLUGIN_NAME = #{pluginName,jdbcType=VARCHAR},
            </if>
            <if test="jarType != null">
                JAR_TYPE = #{jarType,jdbcType=VARCHAR},
            </if>
            <if test="active != null">
                ACTIVE = #{active,jdbcType=BIT},
            </if>
        </set>
        where ID = #{id,jdbcType=BIGINT}
        <if test="userId != null">
            and user_id = #{userId}
        </if>
    </update>
    <sql id="Data_Where_Clause">
        <where>
            <if test="id != null">
                and ID = #{id,jdbcType=BIGINT}
            </if>
            <if test="applicationId != null">
                and APPLICATION_ID = #{applicationId,jdbcType=BIGINT}
            </if>
            <if test="jarName != null">
                and JAR_NAME = #{jarName,jdbcType=VARCHAR}
            </if>
            <if test="pluginName != null">
                and PLUGIN_NAME = #{pluginName,jdbcType=VARCHAR}
            </if>
            <if test="jarType != null">
                and JAR_TYPE = #{jarType,jdbcType=VARCHAR}
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="active != null">
                and ACTIVE = #{active,jdbcType=BIT}
            </if>
            and hidden = 0 and is_deleted = 0
        </where>
    </sql>
    <sql id="Data_Where_Plus">
        <if test="orderBy != null">
            order by ${orderBy}
        </if>
    </sql>
</mapper>
