module-id=pradar-register
#export-class=
#import-class=
export-package=com.shulie.instrument.module.register.zk.*
import-package=com.pamirs.pradar.*
#export-resource=
#import-resource=
# dependency of module or swither,multi split with comma
dependencies=pradar-core
# dependency simulator version
middleware-module=false
simulator-version=1.0.0-
# must use
must-use=true