module-id=pradar-core
#export-class=
#import-class=
export-package=com.pamirs.pradar.*,com.shulie.druid.*,com.google.code.gson.*,jvm.*
import-package=com.shulie.instrument.simulator.module.model.*
export-resource=META-INF/pradar/druid-driver.properties,META-INF/pradar/druid-filter.properties
middleware-module=false
#import-resource=
# define a switcher to management module load. call GlobalSwitch to change switcher status,
# it will trigger module loading if switcher is on, multi switcher split with comma
#switch-control=
# dependency simulator version
simulator-version=1.0.0-
# must use
must-use=true