<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2021 Shulie Technology, Co.Ltd
  ~ Email: shulie@shulie.io
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pamirs.tro.entity.dao.schedule.TScheduleRecordMapper">
    <resultMap id="BaseResultMap" type="com.pamirs.tro.entity.domain.entity.schedule.ScheduleRecord">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="scene_id" jdbcType="BIGINT" property="sceneId"/>
        <result column="pod_num" jdbcType="INTEGER" property="podNum"/>
        <result column="pod_class" jdbcType="VARCHAR" property="podClass"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="cpu_core_num" jdbcType="INTEGER" property="cpuCoreNum"/>
        <result column="memory_size" jdbcType="DECIMAL" property="memorySize"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, scene_id, pod_num, pod_class, status, cpu_core_num, memory_size, create_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_schedule_record
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from t_schedule_record
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insertSelective" parameterType="com.pamirs.tro.entity.domain.entity.schedule.ScheduleRecord">
        insert into t_schedule_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="sceneId != null">
                scene_id,
            </if>
            <if test="podNum != null">
                pod_num,
            </if>
            <if test="podClass != null">
                pod_class,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="cpuCoreNum != null">
                cpu_core_num,
            </if>
            <if test="memorySize != null">
                memory_size,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="sceneId != null">
                #{sceneId,jdbcType=BIGINT},
            </if>
            <if test="podNum != null">
                #{podNum,jdbcType=INTEGER},
            </if>
            <if test="podClass != null">
                #{podClass,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="cpuCoreNum != null">
                #{cpuCoreNum,jdbcType=INTEGER},
            </if>
            <if test="memorySize != null">
                #{memorySize,jdbcType=DECIMAL},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
            parameterType="com.pamirs.tro.entity.domain.entity.schedule.ScheduleRecord">
        update t_schedule_record
        <set>
            <if test="sceneId != null">
                scene_id = #{sceneId,jdbcType=BIGINT},
            </if>
            <if test="podNum != null">
                pod_num = #{podNum,jdbcType=INTEGER},
            </if>
            <if test="podClass != null">
                pod_class = #{podClass,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="cpuCoreNum != null">
                cpu_core_num = #{cpuCoreNum,jdbcType=INTEGER},
            </if>
            <if test="memorySize != null">
                memory_size = #{memorySize,jdbcType=DECIMAL},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.pamirs.tro.entity.domain.entity.schedule.ScheduleRecord">
        update t_schedule_record
        set scene_id     = #{sceneId,jdbcType=BIGINT},
            pod_num      = #{podNum,jdbcType=INTEGER},
            pod_class    = #{podClass,jdbcType=VARCHAR},
            status       = #{status,jdbcType=TINYINT},
            cpu_core_num = #{cpuCoreNum,jdbcType=INTEGER},
            memory_size  = #{memorySize,jdbcType=DECIMAL},
            create_time  = #{createTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="getPageList" parameterType="com.pamirs.tro.entity.domain.vo.schedule.ScheduleRecordQueryVO"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_schedule_record
        where scene_id = #{sceneId}
        order by id desc
    </select>
</mapper>
