<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright 2021 Shulie Technology, Co.Ltd
  ~ Email: shulie@shulie.io
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pamirs.tro.entity.dao.user.TQuickAccessMapper">
    <resultMap id="BaseResultMap" type="com.pamirs.tro.entity.domain.entity.user.QuickAccess">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="custom_id" property="customId" jdbcType="BIGINT"/>
        <result column="quick_name" property="quickName" jdbcType="VARCHAR"/>
        <result column="quick_logo" property="quickLogo" jdbcType="VARCHAR"/>
        <result column="url_address" property="urlAddress" jdbcType="VARCHAR"/>
        <result column="order" property="order" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="is_deleted" property="isDeleted" jdbcType="TINYINT"/>
        <result column="is_enable" property="isEnable" jdbcType="TINYINT"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        id, custom_id, quick_name, quick_logo, url_address, `order`, create_time, update_time,
    is_deleted, is_enable
    </sql>
    <select id="selectByExample" resultMap="BaseResultMap"
            parameterType="com.pamirs.tro.entity.domain.entity.user.QuickAccessExample">
        select
        <include refid="Base_Column_List"/>
        from t_quick_access
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from t_quick_access
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from t_quick_access
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.pamirs.tro.entity.domain.entity.user.QuickAccess">
        insert into t_quick_access (id, custom_id, quick_name,
                                    quick_logo, url_address, `order`,
                                    create_time, update_time, is_deleted,
                                    is_enable)
        values (#{id,jdbcType=BIGINT}, #{customId,jdbcType=BIGINT}, #{quickName,jdbcType=VARCHAR},
                #{quickLogo,jdbcType=VARCHAR}, #{urlAddress,jdbcType=VARCHAR}, #{order,jdbcType=INTEGER},
                #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{isDeleted,jdbcType=TINYINT},
                #{isEnable,jdbcType=TINYINT})
    </insert>
    <insert id="insertSelective" parameterType="com.pamirs.tro.entity.domain.entity.user.QuickAccess">
        insert into t_quick_access
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="customId != null">
                custom_id,
            </if>
            <if test="quickName != null">
                quick_name,
            </if>
            <if test="quickLogo != null">
                quick_logo,
            </if>
            <if test="urlAddress != null">
                url_address,
            </if>
            <if test="order != null">
                `order`,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="isDeleted != null">
                is_deleted,
            </if>
            <if test="isEnable != null">
                is_enable,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="customId != null">
                #{customId,jdbcType=BIGINT},
            </if>
            <if test="quickName != null">
                #{quickName,jdbcType=VARCHAR},
            </if>
            <if test="quickLogo != null">
                #{quickLogo,jdbcType=VARCHAR},
            </if>
            <if test="urlAddress != null">
                #{urlAddress,jdbcType=VARCHAR},
            </if>
            <if test="order != null">
                #{order,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isDeleted != null">
                #{isDeleted,jdbcType=TINYINT},
            </if>
            <if test="isEnable != null">
                #{isEnable,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>
    <update id="updateByExampleSelective" parameterType="map">
        update t_quick_access
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=BIGINT},
            </if>
            <if test="record.customId != null">
                custom_id = #{record.customId,jdbcType=BIGINT},
            </if>
            <if test="record.quickName != null">
                quick_name = #{record.quickName,jdbcType=VARCHAR},
            </if>
            <if test="record.quickLogo != null">
                quick_logo = #{record.quickLogo,jdbcType=VARCHAR},
            </if>
            <if test="record.urlAddress != null">
                url_address = #{record.urlAddress,jdbcType=VARCHAR},
            </if>
            <if test="record.order != null">
                order = #{record.order,jdbcType=INTEGER},
            </if>
            <if test="record.createTime != null">
                create_time = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.updateTime != null">
                update_time = #{record.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.isDeleted != null">
                is_deleted = #{record.isDeleted,jdbcType=TINYINT},
            </if>
            <if test="record.isEnable != null">
                is_enable = #{record.isEnable,jdbcType=TINYINT},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update t_quick_access
        set id = #{record.id,jdbcType=BIGINT},
        custom_id = #{record.customId,jdbcType=BIGINT},
        quick_name = #{record.quickName,jdbcType=VARCHAR},
        quick_logo = #{record.quickLogo,jdbcType=VARCHAR},
        url_address = #{record.urlAddress,jdbcType=VARCHAR},
        order = #{record.order,jdbcType=INTEGER},
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
        is_deleted = #{record.isDeleted,jdbcType=TINYINT},
        is_enable = #{record.isEnable,jdbcType=TINYINT}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.pamirs.tro.entity.domain.entity.user.QuickAccess">
        update t_quick_access
        <set>
            <if test="customId != null">
                custom_id = #{customId,jdbcType=BIGINT},
            </if>
            <if test="quickName != null">
                quick_name = #{quickName,jdbcType=VARCHAR},
            </if>
            <if test="quickLogo != null">
                quick_logo = #{quickLogo,jdbcType=VARCHAR},
            </if>
            <if test="urlAddress != null">
                url_address = #{urlAddress,jdbcType=VARCHAR},
            </if>
            <if test="order != null">
                order = #{order,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted,jdbcType=TINYINT},
            </if>
            <if test="isEnable != null">
                is_enable = #{isEnable,jdbcType=TINYINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.pamirs.tro.entity.domain.entity.user.QuickAccess">
        update t_quick_access
        set custom_id   = #{customId,jdbcType=BIGINT},
            quick_name  = #{quickName,jdbcType=VARCHAR},
            quick_logo  = #{quickLogo,jdbcType=VARCHAR},
            url_address = #{urlAddress,jdbcType=VARCHAR},
            `order`     = #{order,jdbcType=INTEGER},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_time = #{updateTime,jdbcType=TIMESTAMP},
            is_deleted  = #{isDeleted,jdbcType=TINYINT},
            is_enable   = #{isEnable,jdbcType=TINYINT}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>
