.svn/
target/
test-output/
*.class
.classpath
.project
.settings/
tmp
temp
*.log
.idea/
*.iml
bin/
sqldump.txt
sqldumpFile.txt
bdbtmp/
je.info.*
*.lck
*.jdb
db-server/logs
logs
package-info.java
.DS_Store

*/*/dependency-reduced-pom.xml