<!DOCTYPE html>
<html lang="zh">

<head>
    <title>链路压测</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link href="https://www.coty.com/sites/default/files/favicon-32x32.png" rel="shortcut icon" type="image/x-icon"> -->
    <script>
        var serverUrl = 'http://192.168.63.35:10008/tro-web/api' 
    </script>
</head>

<body>
    <div id="root"></div>
</body>

</html>