<!DOCTYPE html>
<html lang="zh">

<head>
    <title>链路压测</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link href="https://www.coty.com/sites/default/files/favicon-32x32.png" rel="shortcut icon" type="image/x-icon"> -->
    <script>
  
        // 自动部署dev
        // var serverUrl = 'http://tro-web.forcecop-dev.192.168.1.205.nip.io:31209/tro-web/api'

        // 自动部署test
        // var serverUrl = ' http://tro-web.forcecop-test.192.168.1.205.nip.io:30234/tro-web/api'

        // 演示环境
        var serverUrl = 'http://47.99.119.242:10008/tro-web/api'
        
        // 测试环境
        //  var serverUrl = 'http://192.168.1.107/tro-web/api';

        // var serverUrls = 'http://192.168.1.107/tro'

        // 开发环境
        // var serverUrl ='http://192.168.1.115/tro-web/api' 

        // 晓霞
        // var serverUrl = 'http://192.168.100.58:10008/tro-web/api' 

        // 勇哥
        // var serverUrl = 'http://192.168.100.249:10008/tro-web/api' 

        // 慕白
        // var serverUrl = 'http://192.168.100.193:10008/tro-web/api' 

        // 无涯
        // var serverUrl = 'http://192.168.100.128:10008/tro-web/api' 

    


    </script>
</head>

<body>
    <div id="root"></div>
</body>

</html>