<!DOCTYPE html>
<html lang="zh">

<head>
    <title>链路压测</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script>
        // 环境
        var serverUrl = 'http://127.0.0.1:10008/tro-web/api'
    </script>
</head>

<body>
    <div id="root"></div>
</body>

</html>