<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2021 Shulie Technology, Co.Ltd
  ~ Email: shulie@shulie.io
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.shulie.amdb.mapper.AppInstanceMapper">
    <resultMap id="BaseResultMap" type="io.shulie.amdb.entity.TAmdbAppInstanceDO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="app_name" jdbcType="VARCHAR" property="appName"/>
        <result column="app_id" jdbcType="BIGINT" property="appId"/>
        <result column="agent_id" jdbcType="VARCHAR" property="agentId"/>
        <result column="ip" jdbcType="VARCHAR" property="ip"/>
        <result column="pid" jdbcType="VARCHAR" property="pid"/>
        <result column="agent_version" jdbcType="VARCHAR" property="agentVersion"/>
        <result column="agent_language" jdbcType="VARCHAR" property="agentLanguage"/>
        <result column="md5" jdbcType="VARCHAR" property="md5"/>
        <result column="hostname" jdbcType="VARCHAR" property="hostname"/>
        <result column="tenant" jdbcType="VARCHAR" property="tenant"/>
        <result column="ext" jdbcType="VARCHAR" property="ext"/>
        <result column="flag" jdbcType="INTEGER" property="flag"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="creator_name" jdbcType="VARCHAR" property="creatorName"/>
        <result column="modifier" jdbcType="VARCHAR" property="modifier"/>
        <result column="modifier_name" jdbcType="VARCHAR" property="modifierName"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, app_name, app_id, agent_id, ip, pid, agent_version, agent_language, md5, ext, hostname, tenant, flag, creator,
    creator_name, modifier, modifier_name, gmt_create, gmt_modify
  </sql>
    <select id="selectOneByParam" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_amdb_app_instance
        <where>
            <if test="id != null">
                and id=#{id,jdbcType=BIGINT}
            </if>
            <if test="appName != null">
                and app_name=#{appName,jdbcType=VARCHAR}
            </if>
            <if test="appId != null">
                and app_id=#{appId,jdbcType=VARCHAR}
            </if>
            <if test="agentId != null">
                and agent_id=#{agentId,jdbcType=VARCHAR}
            </if>
            <if test="ip != null">
                and ip=#{ip,jdbcType=VARCHAR}
            </if>
            <if test="pid != null">
                and pid=#{pid,jdbcType=VARCHAR}
            </if>
            <if test="agentVersion != null">
                and agent_version=#{agentVersion,jdbcType=VARCHAR}
            </if>
            <if test="agentLanguage != null">
                and agent_language=#{agentLanguage,jdbcType=VARCHAR}
            </if>
            <if test="md5 != null">
                and md5=#{md5,jdbcType=VARCHAR}
            </if>
            <if test="hostname != null">
                and hostname=#{hostname,jdbcType=VARCHAR}
            </if>
            <if test="tenant != null">
                and tenant=#{tenant,jdbcType=VARCHAR}
            </if>
            <if test="ext != null">
                and ext=#{ext,jdbcType=VARCHAR}
            </if>
            <if test="flag != null">
                and flag=#{flag,jdbcType=INTEGER}
            </if>
            <if test="creator != null">
                and creator=#{creator,jdbcType=VARCHAR}
            </if>
            <if test="creatorName != null">
                and creator_name=#{creatorName,jdbcType=VARCHAR}
            </if>
            <if test="modifier != null">
                and modifier=#{modifier,jdbcType=VARCHAR}
            </if>
            <if test="modifierName != null">
                and modifier_name=#{modifierName,jdbcType=VARCHAR}
            </if>
            <if test="gmtCreate != null">
                and gmt_create=#{gmtCreate,jdbcType=TIMESTAMP}
            </if>
            <if test="gmtModify != null">
                and gmt_modify=#{gmtModify,jdbcType=TIMESTAMP}
            </if>
            limit 1
        </where>
    </select>
    <select id="selectByFilter" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_amdb_app_instance
        <where>
            ${filter}
        </where>
    </select>
    <insert id="insert" parameterType="io.shulie.amdb.entity.TAmdbAppInstanceDO">
    insert into t_amdb_app_instance (id, app_name, app_id, 
      agent_id, ip, pid, agent_version, agent_language,
      md5, hostname, tenant, ext, flag, creator,
      creator_name, modifier, modifier_name, 
      gmt_create, gmt_modify)
    values (#{id,jdbcType=BIGINT}, #{appName,jdbcType=VARCHAR}, #{appId,jdbcType=BIGINT},
      #{agentId,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR}, #{pid,jdbcType=VARCHAR}, #{agentVersion,jdbcType=VARCHAR}, #{agentLanguage,jdbcType=VARCHAR},
      #{md5,jdbcType=VARCHAR}, #{hostname,jdbcType=VARCHAR}, #{tenant,jdbcType=VARCHAR}, #{ext,jdbcType=VARCHAR}, #{flag,jdbcType=INTEGER}, #{creator,jdbcType=VARCHAR},
      #{creatorName,jdbcType=VARCHAR}, #{modifier,jdbcType=VARCHAR}, #{modifierName,jdbcType=VARCHAR}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModify,jdbcType=TIMESTAMP})
  </insert>
    <update id="updateByPrimaryKeySelective" parameterType="io.shulie.amdb.entity.TAmdbAppInstanceDO">
        update t_amdb_app_instance
        <set>
            <if test="appName != null">
                app_name = #{appName,jdbcType=VARCHAR},
            </if>
            <if test="appId != null">
                app_id = #{appId,jdbcType=BIGINT},
            </if>
            <if test="agentId != null">
                agent_id = #{agentId,jdbcType=VARCHAR},
            </if>
            <if test="ip != null">
                ip = #{ip,jdbcType=VARCHAR},
            </if>
            <if test="pid != null">
                pid = #{pid,jdbcType=VARCHAR},
            </if>
            <if test="agentVersion != null">
                agent_version = #{agentVersion,jdbcType=VARCHAR},
            </if>
            <if test="agentLanguage != null">
                agent_language = #{agentLanguage,jdbcType=VARCHAR},
            </if>
            <if test="md5 != null">
                md5 = #{md5,jdbcType=VARCHAR},
            </if>
            <if test="hostname != null">
                hostname = #{hostname,jdbcType=VARCHAR},
            </if>
            <if test="tenant != null">
                tenant = #{tenant,jdbcType=VARCHAR},
            </if>
            <if test="ext != null">
                ext = #{ext,jdbcType=VARCHAR},
            </if>
            <if test="flag != null">
                flag = #{flag,jdbcType=INTEGER},
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=VARCHAR},
            </if>
            <if test="creatorName != null">
                creator_name = #{creatorName,jdbcType=VARCHAR},
            </if>
            <if test="modifier != null">
                modifier = #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="modifierName != null">
                modifier_name = #{modifierName,jdbcType=VARCHAR},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModify != null">
                gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="io.shulie.amdb.entity.TAmdbAppInstanceDO">
    update t_amdb_app_instance
    set app_name = #{appName,jdbcType=VARCHAR},
      app_id = #{appId,jdbcType=BIGINT},
      agent_id = #{agentId,jdbcType=VARCHAR},
      ip = #{ip,jdbcType=VARCHAR},
      pid = #{pid,jdbcType=VARCHAR},
      agent_version = #{agentVersion,jdbcType=VARCHAR},
      agent_language = #{agentLanguage,jdbcType=VARCHAR},
      md5 = #{md5,jdbcType=VARCHAR},
      hostname = #{hostname,jdbcType=VARCHAR},
      tenant = #{tenant,jdbcType=VARCHAR},
      ext = #{ext,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=INTEGER},
      creator = #{creator,jdbcType=VARCHAR},
      creator_name = #{creatorName,jdbcType=VARCHAR},
      modifier = #{modifier,jdbcType=VARCHAR},
      modifier_name = #{modifierName,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modify = #{gmtModify,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>