<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2021 Shulie Technology, Co.Ltd
  ~ Email: shulie@shulie.io
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pamirs.tro.entity.dao.assist.mqproducer.TEbmProducerDao">

    <!--新增EBM生产信息-->
    <insert id="saveEbm">
        INSERT INTO t_ebm_producer (TEP_ID,
                                    MSG_TYPE,
                                    DICT_TYPE,
                                    MSG_HOST,
                                    MSG_PORT,
                                    QUEUE_MANAGER,
                                    QUEUE_CHANNEL,
                                    CCSID,
                                    ESBCODE,
                                    REQUEST_COMOUT,
                                    SLEEP_TIME,
                                    MSG_COUNT,
                                    THREAD_COUNT,
                                    MESSAGE_SIZE,
                                    PRODUCE_STATUS,
                                    PRODUCE_START_TIME,
                                    PRODUCE_END_TIME,
                                    LAST_PRODUCE_TIME,
                                    CREATE_TIME,
                                    UPDATE_TIME)
        VALUES (#{tepId},
                #{msgType},
                #{dictType},
                #{msgHost},
                #{msgPort},
                #{queueManager},
                #{queueChannel},
                #{ccsid},
                #{esbcode},
                #{requestComout},
                #{sleepTime},
                #{msgCount},
                #{threadCount},
                #{messageSize},
                #{produceStatus},
                #{produceStartTime},
                #{produceEndTime},
                #{lastProduceTime},
                now(),
                now())
    </insert>

    <!--生产消息更新状态-->
    <update id="updateEbmStatus" parameterType="com.pamirs.tro.entity.domain.entity.TEbmProducer">
        update t_ebm_producer
        <set>
            <if test="produceStatus != null">
                PRODUCE_STATUS = #{produceStatus},
            </if>
            <if test="produceStartTime != null">
                PRODUCE_START_TIME = #{produceStartTime},
            </if>
            <if test="produceEndTime != null">
                PRODUCE_END_TIME = #{produceEndTime},
            </if>
            <if test="lastProduceTime != null">
                LAST_PRODUCE_TIME = #{lastProduceTime},
            </if>
            UPDATE_TIME = now()
        </set>
        where TEP_ID = #{tepId,jdbcType=BIGINT}
    </update>

    <!--更新生产消息-->
    <update id="updateEbm" parameterType="com.pamirs.tro.entity.domain.entity.TEbmProducer">
        update t_ebm_producer
        <set>
            <if test="msgType != null and msgType!=''">
                MSG_TYPE = #{msgType,jdbcType=VARCHAR},
            </if>
            <if test="dictType != null and dictType!=''">
                DICT_TYPE = #{dictType,jdbcType=VARCHAR},
            </if>
            <if test="msgHost != null and msgHost!=''">
                MSG_HOST = #{msgHost,jdbcType=VARCHAR},
            </if>
            <if test="msgPort != null and msgPort!=''">
                MSG_PORT = #{msgPort,jdbcType=VARCHAR},
            </if>
            <if test="queueChannel != null and queueChannel!=''">
                QUEUE_CHANNEL = #{queueChannel,jdbcType=VARCHAR},
            </if>
            <if test="queueManager != null and queueManager!=''">
                QUEUE_MANAGER = #{queueManager,jdbcType=VARCHAR},
            </if>
            <if test="ccsid != null and ccsid!=''">
                CCSID = #{ccsid,jdbcType=VARCHAR},
            </if>
            <if test="esbcode != null  and esbcode!=''">
                ESBCODE = #{esbcode,jdbcType=VARCHAR},
            </if>
            <if test="requestComout != null  and requestComout!=''">
                REQUEST_COMOUT = #{requestComout,jdbcType=VARCHAR},
            </if>
            <if test="sleepTime != null  and sleepTime!=''">
                SLEEP_TIME = #{sleepTime,jdbcType=BIGINT},
            </if>
            <if test="sleepTime != null  and sleepTime!=''">
                MSG_COUNT = #{msgCount,jdbcType=BIGINT},
            </if>
            <if test="threadCount != null  and threadCount!=''">
                THREAD_COUNT = #{threadCount},
            </if>
            <if test="messageSize != null  and messageSize!=''">
                MESSAGE_SIZE = #{messageSize},
            </if>
            UPDATE_TIME = now()
        </set>
        where TEP_ID = #{tepId,jdbcType=BIGINT}
    </update>

    <delete id="batchDeleteEsbAndIbm" parameterType="list">
        delete from t_ebm_producer where TEP_ID IN
        <foreach collection="tepIdList" open="(" close=")" separator="," item="tepId">
            #{tepId}
        </foreach>
    </delete>

    <!--新增时校验该mq生产者信息是否存在,注意这里传递的msgType为数字,1代表ESB,2代表IBM等-->
    <select id="selectEbmExist" parameterType="com.pamirs.tro.entity.domain.entity.TEbmProducer"
            resultType="java.lang.Integer">
        select count(1)
        FROM
        t_ebm_producer tep
        LEFT JOIN t_dictionary_type t ON tep.DICT_TYPE = t.ID
        LEFT JOIN t_dictionary_data d ON t.ID = d.DICT_TYPE
        WHERE t.ACTIVE ='Y' AND tep.MSG_TYPE = d.VALUE_ORDER
        <if test="msgType!=null and msgType!=''">
            AND d.VALUE_ORDER=#{msgType}
        </if>
        <if test="msgHost!=null and msgHost!=''">
            AND MSG_HOST=#{msgHost}
        </if>
        <if test="msgPort!=null and msgPort!=''">
            AND MSG_PORT=#{msgPort}
        </if>
        <if test="queueChannel!=null and queueChannel!=''">
            AND QUEUE_CHANNEL=#{queueChannel}
        </if>
        <if test="esbcode!=null and esbcode!=''">
            AND ESBCODE=#{esbcode}
        </if>
        <if test="queueManager!=null and queueManager!=''">
            AND QUEUE_MANAGER=#{queueManager}
        </if>
    </select>

    <sql id="Base_Column_List">
        TEP_ID,
        MSG_TYPE,
        DICT_TYPE,
        MSG_HOST,
        MSG_PORT,
        QUEUE_MANAGER,
        QUEUE_CHANNEL,
        CCSID,
        ESBCODE,
        REQUEST_COMOUT,
        SLEEP_TIME,
        MSG_COUNT,
        THREAD_COUNT,
        MESSAGE_SIZE,
        PRODUCE_STATUS,
        PRODUCE_START_TIME,
        PRODUCE_END_TIME,
        LAST_PRODUCE_TIME,
        CREATE_TIME,
        UPDATE_TIME
    </sql>

    <!--更新时根据主键查询该消息是否存在-->
    <select id="selectEbmMsgById" resultType="com.pamirs.tro.entity.domain.entity.TEbmProducer">
        select
        <include refid="Base_Column_List"/>
        from t_ebm_producer
        where TEP_ID = #{tepId,jdbcType=BIGINT}
    </select>

    <!--查询esb/ibm消息列表-->
    <update id="updateEbmProduceStatus">
        update t_ebm_producer
        <set>
            <if test="produceStatus != null">
                PRODUCE_STATUS = #{produceStatus},
            </if>
            <if test="msgSuccessCount != null">
                MSG_SUCCESS_COUNT = #{msgSuccessCount},
            </if>
            <if test="produceEndTime != null">
                PRODUCE_END_TIME = #{produceEndTime},
            </if>
            UPDATE_TIME=now()
        </set>
        where TEP_ID = #{tepId}
    </update>


    <!--更新生产消息状态-->
    <select id="queryEsbAndIbmList" resultType="com.pamirs.tro.entity.domain.entity.TEbmProducer">
        SELECT
        t.TEP_ID,
        tdd.VALUE_NAME MSG_TYPE,
        #t.MSG_TYPE,
        t.DICT_TYPE,
        t.MSG_HOST,
        t.MSG_PORT,
        t.QUEUE_CHANNEL,
        t.QUEUE_MANAGER,
        t.CCSID,
        t.ESBCODE,
        t.REQUEST_COMOUT,
        t.SLEEP_TIME,
        t.MSG_COUNT,
        t.MSG_SUCCESS_COUNT,
        t.THREAD_COUNT,
        t.MESSAGE_SIZE,
        t.PRODUCE_STATUS,
        t.PRODUCE_START_TIME,
        t.PRODUCE_END_TIME,
        t.LAST_PRODUCE_TIME,
        t.CREATE_TIME,
        t.UPDATE_TIME
        FROM
        t_ebm_producer t
        LEFT JOIN
        t_dictionary_data tdd
        ON t.DICT_TYPE = tdd.DICT_TYPE AND t.MSG_TYPE = tdd.VALUE_ORDER
        WHERE 1=1
        <if test="esbCode!=null and esbCode!=''">
            and t.ESBCODE LIKE CONCAT('%',#{esbCode},'%')
        </if>
        <if test="produceStartTime!=null and produceStartTime!=''">
            AND t.PRODUCE_START_TIME >= #{produceStartTime}
        </if>
        <if test="produceEndTime!=null and produceEndTime!=''">
            AND t.PRODUCE_END_TIME &lt;= #{produceEndTime}
        </if>
        ORDER BY
        t.UPDATE_TIME DESC
    </select>

    <!--根据id列表批量查询ebm生产信息-->
    <select id="queryEBMProduceListByIds" parameterType="list"
            resultType="com.pamirs.tro.entity.domain.entity.TEbmProducer">
        SELECT
        t1.*
        FROM
        t_ebm_producer t1
        WHERE
        t1.TEP_ID IN
        <foreach collection="eBMProduceIds" item="eBMProduceId" open="(" close=")" separator=",">
            #{eBMProduceId}
        </foreach>
        ORDER BY t1.TEP_ID
    </select>

</mapper>
