<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2021 Shulie Technology, Co.Ltd
  ~ Email: shulie@shulie.io
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.shulie.tro.web.data.mapper.mysql.AlarmListMapper">
    <resultMap id="BaseResultMap" type="io.shulie.tro.web.data.model.mysql.AlarmListEntity">
        <!--@mbg.generated-->
        <!--@Table t_alarm_list-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="war_packages" jdbcType="VARCHAR" property="warPackages"/>
        <result column="ip" jdbcType="VARCHAR" property="ip"/>
        <result column="alarm_collects" jdbcType="VARCHAR" property="alarmCollects"/>
        <result column="alarm_date" jdbcType="TIMESTAMP" property="alarmDate"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
        <result column="is_deleted" jdbcType="INTEGER" property="isDeleted"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, war_packages, ip, alarm_collects, alarm_date, create_time, modify_time, is_deleted
    </sql>
</mapper>
