<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2021 Shulie Technology, Co.Ltd
  ~ Email: shulie@shulie.io
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.shulie.tro.web.data.mapper.mysql.PradarAppPointMapper">
    <resultMap id="BaseResultMap" type="io.shulie.tro.web.data.model.mysql.PradarAppPointEntity">
        <!--@mbg.generated-->
        <!--@Table pradar_app_point-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="app_info_id" jdbcType="BIGINT" property="appInfoId"/>
        <result column="method" jdbcType="VARCHAR" property="method"/>
        <result column="method_comment" jdbcType="VARCHAR" property="methodComment"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
        <result column="deleted" jdbcType="TINYINT" property="deleted"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, app_info_id, `method`, method_comment, create_time, modify_time, deleted
    </sql>
</mapper>
