<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2021 Shulie Technology, Co.Ltd
  ~ Email: shulie@shulie.io
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.shulie.tro.web.data.mapper.mysql.ReportBottleneckInterfaceMapper">
    <resultMap id="BaseResultMap" type="io.shulie.tro.web.data.model.mysql.ReportBottleneckInterfaceEntity">
        <!--@mbg.generated-->
        <!--@Table t_report_bottleneck_interface-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="report_id" jdbcType="BIGINT" property="reportId"/>
        <result column="application_name" jdbcType="VARCHAR" property="applicationName"/>
        <result column="sort_no" jdbcType="INTEGER" property="sortNo"/>
        <result column="interface_type" jdbcType="VARCHAR" property="interfaceType"/>
        <result column="interface_name" jdbcType="VARCHAR" property="interfaceName"/>
        <result column="tps" jdbcType="DECIMAL" property="tps"/>
        <result column="rt" jdbcType="DECIMAL" property="rt"/>
        <result column="node_count" jdbcType="INTEGER" property="nodeCount"/>
        <result column="error_reqs" jdbcType="INTEGER" property="errorReqs"/>
        <result column="bottleneck_weight" jdbcType="DECIMAL" property="bottleneckWeight"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, report_id, application_name, sort_no, interface_type, interface_name, tps, rt,
        node_count, error_reqs, bottleneck_weight
    </sql>
</mapper>
