module-id=google-guava
#export-class=
#import-class=
#export-package=
import-package=com.pamirs.pradar.*
#export-resource=
#import-resource=
# define a switcher to management module load. call GlobalSwitch to change switcher status,
# it will trigger module loading if switcher is on, multi switcher split with comma
switch-control=clusterTestSwitcher
simulator-version=1.0.0-