<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2021 Shulie Technology, Co.Ltd
  ~ Email: shulie@shulie.io
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pamirs.tro.entity.dao.linkmanage.TLinkManageTableMapper">
    <resultMap id="BaseResultMap" type="com.pamirs.tro.entity.domain.entity.linkmanage.LinkManageTable">
        <id column="LINK_ID" jdbcType="BIGINT" property="linkId"/>
        <result column="LINK_NAME" jdbcType="VARCHAR" property="linkName"/>
        <result column="ENTRACE" jdbcType="VARCHAR" property="entrace"/>
        <result column="CHANGE_BEFORE" jdbcType="VARCHAR" property="changeBefore"/>
        <result column="CHANGE_AFTER" jdbcType="VARCHAR" property="changeAfter"/>
        <result column="CHANGE_REMARK" jdbcType="VARCHAR" property="changeRemark"/>
        <result column="IS_CHANGE" jdbcType="TINYINT" property="isChange"/>
        <result column="IS_DELETED" jdbcType="TINYINT" property="isDeleted"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="APPLICATION_NAME" property="applicationName"/>
        <result column="CHANGE_TYPE" property="changeType"/>
        <result column="CAN_DELETE" property="canDelete"/>
    </resultMap>

    <resultMap id="TechLinkResultDtoMap" type="com.pamirs.tro.entity.domain.dto.linkmanage.TechLinkDto">
        <result column="LINK_ID" property="linkId"/>
        <result column="LINK_NAME" jdbcType="VARCHAR" property="techLinkName"/>
        <result column="ENTRACE" jdbcType="VARCHAR" property="entrance"/>
        <result column="CHANGE_BEFORE" jdbcType="VARCHAR" property="body_before"/>
        <result column="CHANGE_AFTER" jdbcType="VARCHAR" property="body_after"/>
        <result column="CHANGE_REMARK" jdbcType="VARCHAR" property="change_remark"/>
        <result column="USER_ID" jdbcType="BIGINT" property="userId"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="CAN_DELETE" property="candelete"/>
        <result column="CHANGE_TYPE" property="changeType"/>
        <result column="TECH_IS_CHANGE" property="isChange"/>
        <collection property="middleWareEntities" ofType="com.pamirs.tro.entity.domain.vo.linkmanage.MiddleWareEntity">
            <result column="ID" property="id"/>
            <result column="MIDDLEWARE_TYPE" property="middleWareType"/>
            <result column="MIDDLEWARE_NAME" property="middleWareName"/>
            <result column="MIDDLEWARE_VERSION" property="version"/>
        </collection>
    </resultMap>

    <resultMap id="BussinessLinkResultDtoMap" type="com.pamirs.tro.entity.domain.dto.linkmanage.BusinessLinkDto">
        <result column="LINK_ID" property="id"/>
        <result column="LINK_NAME" jdbcType="VARCHAR" property="linkName"/>
        <result column="ENTRACE" jdbcType="VARCHAR" property="entrance"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime"/>
        <collection property="techLinkDto" ofType="com.pamirs.tro.entity.domain.dto.linkmanage.TechLinkDto">
            <result column="CHANGE_BEFORE" jdbcType="VARCHAR" property="body_before"/>
            <result column="CHANGE_AFTER" jdbcType="VARCHAR" property="body_after"/>
            <result column="CHANGE_REMARK" jdbcType="VARCHAR" property="change_remark"/>
            <collection property="middleWareEntities"
                        ofType="com.pamirs.tro.entity.domain.vo.linkmanage.MiddleWareEntity">
                <result column="ID" property="id"/>
                <result column="MIDDLEWARE_TYPE" property="middleWareType"/>
                <result column="MIDDLEWARE_NAME" property="middleWareName"/>
                <result column="MIDDLEWARE_VERSION" property="version"/>
            </collection>
        </collection>
    </resultMap>


    <sql id="Base_Column_List">
        LINK_ID, LINK_NAME, ENTRACE,
    CHANGE_BEFORE, CHANGE_AFTER, CHANGE_REMARK, IS_CHANGE, IS_DELETED, CREATE_TIME,
    UPDATE_TIME,APPLICATION_NAME,CHANGE_TYPE,CAN_DELETE
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_link_manage_table
        where LINK_ID = #{linkId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from t_link_manage_table
        where LINK_ID = #{linkId,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.pamirs.tro.entity.domain.entity.linkmanage.LinkManageTable"
            keyProperty="linkId" useGeneratedKeys="true">
        insert into t_link_manage_table (LINK_ID, LINK_NAME, ENTRACE,
                                         CHANGE_BEFORE, CHANGE_AFTER, CHANGE_REMARK, IS_CHANGE, IS_DELETED, CREATE_TIME,
                                         UPDATE_TIME, APPLICATION_NAME, CHANGE_TYPE)
        values (#{linkId,jdbcType=BIGINT}, #{linkName,jdbcType=VARCHAR}, #{entrace,jdbcType=VARCHAR},
                #{changeBefore,jdbcType=VARCHAR}, #{changeAfter,jdbcType=VARCHAR},
                #{changeRemark,jdbcType=VARCHAR}, #{isChange,jdbcType=TINYINT},
                #{isDeleted,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP},
                #{updateTime,jdbcType=TIMESTAMP}, #{applicationName}
                   , #{changeType})
    </insert>
    <insert id="insertSelective" parameterType="com.pamirs.tro.entity.domain.entity.linkmanage.LinkManageTable">
        insert into t_link_manage_table
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="linkId != null">
                LINK_ID,
            </if>
            <if test="linkName != null">
                LINK_NAME,
            </if>
            <if test="entrace != null">
                ENTRACE,
            </if>
            <if test="changeBefore != null">
                CHANGE_BEFORE,
            </if>
            <if test="changeAfter != null">
                CHANGE_AFTER,
            </if>
            <if test="changeRemark != null">
                CHANGE_REMARK,
            </if>
            <if test="isChange != null">
                IS_CHANGE,
            </if>
            <if test="isDeleted != null">
                IS_DELETED,
            </if>
            <if test="createTime != null">
                CREATE_TIME,
            </if>
            <if test="updateTime != null">
                UPDATE_TIME,
            </if>
            <if test="applicationName !=null">
                APPLICATION_NAME,
            </if>
            <if test="changeType != null">
                CHANGE_TYPE,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="linkId != null">
                #{linkId,jdbcType=BIGINT},
            </if>
            <if test="linkName != null">
                #{linkName,jdbcType=VARCHAR},
            </if>
            <if test="entrace != null">
                #{entrace,jdbcType=VARCHAR},
            </if>
            <if test="changeBefore != null">
                #{changeBefore,jdbcType=VARCHAR},
            </if>
            <if test="changeAfter != null">
                #{changeAfter,jdbcType=VARCHAR},
            </if>
            <if test="changeRemark != null">
                #{changeRemark,jdbcType=VARCHAR},
            </if>
            <if test="isChange != null">
                #{isChange,jdbcType=TINYINT},
            </if>
            <if test="isDeleted != null">
                #{isDeleted,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="applicationName != null">
                #{applicationName}
            </if>
            <if test="changeType != null">
                #{changeType}
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
            parameterType="com.pamirs.tro.entity.domain.entity.linkmanage.LinkManageTable">
        update t_link_manage_table
        <set>
            <if test="linkName != null">
                LINK_NAME = #{linkName,jdbcType=VARCHAR},
            </if>
            <if test="entrace != null">
                ENTRACE = #{entrace,jdbcType=VARCHAR},
            </if>
            <if test="changeBefore != null">
                CHANGE_BEFORE = #{changeBefore,jdbcType=VARCHAR},
            </if>
            <if test="changeAfter != null">
                CHANGE_AFTER = #{changeAfter,jdbcType=VARCHAR},
            </if>
            <if test="changeRemark != null">
                CHANGE_REMARK = #{changeRemark,jdbcType=VARCHAR},
            </if>
            <if test="isChange != null">
                IS_CHANGE = #{isChange,jdbcType=TINYINT},
            </if>
            <if test="isDeleted != null">
                IS_DELETED = #{isDeleted,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="changeType != null">
                CHANGE_TYPE = #{changeType}
            </if>
        </set>
        where LINK_ID = #{linkId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.pamirs.tro.entity.domain.entity.linkmanage.LinkManageTable">
        update t_link_manage_table
        set LINK_NAME       = #{linkName,jdbcType=VARCHAR},
            ENTRACE         = #{entrace,jdbcType=VARCHAR},
            CHANGE_BEFORE   = #{changeBefore,jdbcType=VARCHAR},
            CHANGE_AFTER    = #{changeAfter,jdbcType=VARCHAR},
            CHANGE_REMARK   = #{changeRemark,jdbcType=VARCHAR},
            IS_CHANGE       = #{isChange,jdbcType=TINYINT},
            IS_DELETED      = #{isDeleted,jdbcType=TINYINT},
            CREATE_TIME     = #{createTime,jdbcType=TIMESTAMP},
            UPDATE_TIME     = #{updateTime,jdbcType=TIMESTAMP},
            CHANGE_TYPE     = #{changeType},
            APPLICATION_NAME=#{applicationName},
            CAN_DELETE=#{canDelete}
        where LINK_ID = #{linkId,jdbcType=BIGINT}
    </update>

    <select id="selectBySelective" parameterType="com.pamirs.tro.entity.domain.entity.linkmanage.LinkManageTable"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_link_manage_table
        <trim prefix="where" prefixOverrides="and | or">

            <if test="linkName != null">
                and LINK_NAME like concat(concat('%',#{linkName}),'%')
            </if>
            <if test="entrace != null">
                and ENTRACE = #{entrace,jdbcType=VARCHAR}
            </if>
            <if test="changeBefore != null">
                and CHANGE_BEFORE = #{changeBefore,jdbcType=VARCHAR}
            </if>
            <if test="changeAfter != null">
                and CHANGE_AFTER = #{changeAfter,jdbcType=VARCHAR}
            </if>
            <if test="changeRemark != null">
                and CHANGE_REMARK = #{changeRemark,jdbcType=VARCHAR}
            </if>
            <if test="isChange != null">
                and IS_CHANGE = #{isChange,jdbcType=TINYINT}
            </if>
            <if test="applicationName != null">
                and APPLICATION_NAME=#{applicationName}
            </if>
            <if test="changeType != null">
                and CHANGE_TYPE = #{changeType}
            </if>
            <if test="canDelete != null">
                and CAN_DELETE = #{canDelete}
            </if>
            and IS_DELETED = 0
        </trim>
    </select>


    <select id="selectByBussinessId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select tech.LINK_ID,
               tech.LINK_NAME,
               tech.ENTRACE,
               tech.CHANGE_BEFORE,
               tech.CHANGE_AFTER,
               tech.CHANGE_REMARK,
               tech.IS_CHANGE,
               tech.IS_DELETED,
               tech.CREATE_TIME,
               tech.UPDATE_TIME,
               tech.APPLICATION_NAME,
               tech.CHANGE_TYPE,
               tech.CAN_DELETE
        from t_link_manage_table tech
                 left join t_business_link_manage_table business
                           on business.RELATED_TECH_LINK = tech.LINK_ID
        where business.LINK_ID = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectByLinkName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        t_link_manage_table
        where LINK_NAME = #{linkName,jdbcType=VARCHAR}
        and IS_DELETED = 0
    </select>


    <select id="counItemtByTechLinkIds" parameterType="java.util.List" resultType="java.lang.Integer">
        select count(1) from t_link_manage_table where LINK_ID
        in
        <foreach item="item" collection="linkIds" separator="," open="(" close=")">
            #{item}
        </foreach>
        and IS_CHANGE = 1 and IS_DELETED=0

    </select>

    <select id="count" resultType="java.lang.Integer">
        select count(1)
        from t_link_manage_table
        where LINK_NAME = #{linkName,jdbcType=VARCHAR}
          and IS_DELETED = 0
    </select>

    <select id="countByEntrance" resultType="java.lang.Integer">
        select count(1)
        from t_link_manage_table
        where ENTRACE = #{entrance,jdbcType=VARCHAR}
          and IS_DELETED = 0
    </select>

    <select id="selectTechLinkById" resultMap="TechLinkResultDtoMap" parameterType="java.lang.Long">
        select manage.LINK_ID,
               manage.LINK_NAME,
               manage.ENTRACE,
               manage.CHANGE_BEFORE,
               manage.CHANGE_AFTER,
               manage.CHANGE_REMARK,
               manage.CREATE_TIME,
               manage.UPDATE_TIME,
               manage.CAN_DELETE,
               manage.CHANGE_TYPE,
               manage.IS_CHANGE as TECH_IS_CHANGE
        from t_link_manage_table manage
        where manage.LINK_ID = #{linkId}
          and manage.IS_DELETED = 0
    </select>


    <select id="selectTechLinkListBySelective2" resultMap="TechLinkResultDtoMap"
            parameterType="com.pamirs.tro.entity.domain.entity.linkmanage.LinkQueryVo">

        select
        manage.LINK_ID ,
        manage.LINK_NAME,
        manage.ENTRACE,
        manage.CHANGE_BEFORE,
        <!-- manage.CHANGE_AFTER,
         manage.CHANGE_REMARK,-->
        manage.CREATE_TIME,
        manage.USER_ID,
        manage.UPDATE_TIME,
        manage.CAN_DELETE,
        manage.CHANGE_TYPE,
        manage.IS_CHANGE as TECH_IS_CHANGE
        from t_link_manage_table manage left join t_middleware_link_relate relate
        on manage.LINK_ID = relate.TECH_LINK_ID
        left join t_middleware_info middleware
        on middleware.ID = relate.MIDDLEWARE_ID
        <trim prefix="where" prefixOverrides="and | or">
            <if test="name != null">
                and manage.LINK_NAME = #{name}
            </if>
            <if test="entrance !=null">
                and manage.ENTRACE = #{entrance,jdbcType=VARCHAR}
            </if>
            <if test="isChange !=null">
                and manage.IS_CHANGE = #{isChange,jdbcType=TINYINT}
            </if>
            <if test="middleWareType !=null">
                and middleware.MIDDLEWARE_TYPE = #{middleWareType}
            </if>
            <if test="middleWareName !=null">
                and middleware.MIDDLEWARE_NAME = #{middleWareName}
            </if>
            <if test="middleWareVersion !=null">
                and middleware.MIDDLEWARE_VERSION = #{middleWareVersion}
            </if>
            <if test="id != null">
                and manage.LINK_ID = #{id}
            </if>
            and manage.IS_DELETED = 0
        </trim>
        group by manage.LINK_ID order by manage.CREATE_TIME desc
    </select>

    <select id="countTotal" resultType="java.lang.Long">
        select count(1)
        from t_link_manage_table
        where IS_DELETED = 0
    </select>

    <select id="countChangeNum" resultType="java.lang.Long">
        select count(1)
        from t_link_manage_table
        where IS_DELETED = 0
          and IS_CHANGE = 1
    </select>
    <select id="countApplication" resultType="java.lang.Long">
        select count(APPLICATION_NAME)
        from t_link_manage_table
        where IS_DELETED = 0
    </select>
    <select id="countSystemProcessByTime" resultType="java.lang.Long">
        select count(1)
        from t_link_manage_table
        where #{date} >= CREATE_TIME
    </select>
    <select id="countApplicationByTime" resultType="java.lang.Long">
        select count(APPLICATION_NAME)
        from t_link_manage_table
        where #{date} >= CREATE_TIME
    </select>

    <update id="cannotdelete">
        update t_link_manage_table
        set CAN_DELETE = #{canDelelte}
        where LINK_ID = #{linkId}
          and IS_DELETED = 0
    </update>


    <select id="entranceFuzzSerach" resultType="java.lang.String">
        select ENTRACE from t_link_manage_table
        <trim prefix="where" prefixOverrides="and | or">
            <if test="entrance != null">
                ENTRACE like concat(concat('%',#{entrance}),'%')
            </if>
            and IS_DELETED = 0
        </trim>
    </select>
    <update id="logicDeleteByPrimaryKey" parameterType="java.lang.Long">
        update t_link_manage_table
        set IS_DELETED = 1
        where LINK_ID = #{linkId}
    </update>
</mapper>
