<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2021 Shulie Technology, Co.Ltd
  ~ Email: shulie@shulie.io
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pamirs.tro.entity.dao.linkmanage.TMiddlewareLinkRelateMapper">
    <resultMap id="BaseResultMap" type="com.pamirs.tro.entity.domain.entity.linkmanage.MiddlewareLinkRelate">
        <id column="ID" jdbcType="BIGINT" property="id"/>
        <result column="MIDDLEWARE_ID" jdbcType="VARCHAR" property="middlewareId"/>
        <result column="TECH_LINK_ID" jdbcType="VARCHAR" property="techLinkId"/>
        <result column="BUSINESS_LINK_ID" jdbcType="VARCHAR" property="businessLinkId"/>
        <result column="SCENE_ID" jdbcType="VARCHAR" property="sceneId"/>
        <result column="IS_DELETED" jdbcType="TINYINT" property="isDeleted"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        ID, MIDDLEWARE_ID, TECH_LINK_ID, BUSINESS_LINK_ID, SCENE_ID, IS_DELETED, CREATE_TIME,
    UPDATE_TIME
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_middleware_link_relate
        where ID = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from t_middleware_link_relate
        where ID = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.pamirs.tro.entity.domain.entity.linkmanage.MiddlewareLinkRelate"
            useGeneratedKeys="true" keyProperty="id">
        insert into t_middleware_link_relate (ID, MIDDLEWARE_ID, TECH_LINK_ID,
                                              BUSINESS_LINK_ID, SCENE_ID, IS_DELETED,
                                              CREATE_TIME, UPDATE_TIME)
        values (#{id,jdbcType=BIGINT}, #{middlewareId,jdbcType=VARCHAR}, #{techLinkId,jdbcType=VARCHAR},
                #{businessLinkId,jdbcType=VARCHAR}, #{sceneId,jdbcType=VARCHAR}, #{isDeleted,jdbcType=TINYINT},
                #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
    </insert>

    <insert id="batchInsert" parameterType="java.util.List">
        insert into t_middleware_link_relate(MIDDLEWARE_ID,TECH_LINK_ID,BUSINESS_LINK_ID,SCENE_ID)
        values
        <foreach collection="lists" item="list" index="index" separator=",">
            (
            #{list.middlewareId},
            #{list.techLinkId},
            #{list.businessLinkId},
            #{list.sceneId}
            )
        </foreach>
    </insert>

    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.pamirs.tro.entity.domain.entity.linkmanage.MiddlewareLinkRelate">
        insert into t_middleware_link_relate
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="middlewareId != null">
                MIDDLEWARE_ID,
            </if>
            <if test="techLinkId != null">
                TECH_LINK_ID,
            </if>
            <if test="businessLinkId != null">
                BUSINESS_LINK_ID,
            </if>
            <if test="sceneId != null">
                SCENE_ID,
            </if>
            <if test="isDeleted != null">
                IS_DELETED,
            </if>
            <if test="createTime != null">
                CREATE_TIME,
            </if>
            <if test="updateTime != null">
                UPDATE_TIME,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="middlewareId != null">
                #{middlewareId,jdbcType=VARCHAR},
            </if>
            <if test="techLinkId != null">
                #{techLinkId,jdbcType=VARCHAR},
            </if>
            <if test="businessLinkId != null">
                #{businessLinkId,jdbcType=VARCHAR},
            </if>
            <if test="sceneId != null">
                #{sceneId,jdbcType=VARCHAR},
            </if>
            <if test="isDeleted != null">
                #{isDeleted,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
            parameterType="com.pamirs.tro.entity.domain.entity.linkmanage.MiddlewareLinkRelate">
        update t_middleware_link_relate
        <set>
            <if test="middlewareId != null">
                MIDDLEWARE_ID = #{middlewareId,jdbcType=VARCHAR},
            </if>
            <if test="techLinkId != null">
                TECH_LINK_ID = #{techLinkId,jdbcType=VARCHAR},
            </if>
            <if test="businessLinkId != null">
                BUSINESS_LINK_ID = #{businessLinkId,jdbcType=VARCHAR},
            </if>
            <if test="sceneId != null">
                SCENE_ID = #{sceneId,jdbcType=VARCHAR},
            </if>
            <if test="isDeleted != null">
                IS_DELETED = #{isDeleted,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where ID = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.pamirs.tro.entity.domain.entity.linkmanage.MiddlewareLinkRelate">
        update t_middleware_link_relate
        set MIDDLEWARE_ID    = #{middlewareId,jdbcType=VARCHAR},
            TECH_LINK_ID     = #{techLinkId,jdbcType=VARCHAR},
            BUSINESS_LINK_ID = #{businessLinkId,jdbcType=VARCHAR},
            SCENE_ID         = #{sceneId,jdbcType=VARCHAR},
            IS_DELETED       = #{isDeleted,jdbcType=TINYINT},
            CREATE_TIME      = #{createTime,jdbcType=TIMESTAMP},
            UPDATE_TIME      = #{updateTime,jdbcType=TIMESTAMP}
        where ID = #{id,jdbcType=BIGINT}
    </update>
    <delete id="deleteByTechLinkId" parameterType="java.lang.String">
        delete
        from t_middleware_link_relate
        where TECH_LINK_ID = #{linkId,jdbcType=VARCHAR}
    </delete>

    <select id="selectMiddleWareIdsByTechIds" resultType="java.lang.String">
        select MIDDLEWARE_ID from t_middleware_link_relate where
        TECH_LINK_ID in
        <foreach item="item" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
        and IS_DELETED = 0
    </select>
    <select id="selectTechIdsByMiddleWareIds" resultType="java.lang.String">
        select distinct(TECH_LINK_ID)
        from t_middleware_link_relate
        where MIDDLEWARE_ID = #{middleWareId}
          and IS_DELETED = 0
    </select>
</mapper>
