<?xml version="1.0" encoding="utf-8" ?>
<!--
  ~ Copyright 2021 Shulie Technology, Co.Ltd
  ~ Email: shulie@shulie.io
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pamirs.tro.entity.dao.common.CommonDao">

    <!-- 新增链路时查询链路应用数据更新到数据构建表中 -->
    <select id="selectLinkApplicationInfo" parameterType="String"
            resultType="com.pamirs.tro.entity.domain.vo.TLinkApplicationInterfaceVo">
        SELECT tlm.LINK_ID,
               tlm.LINK_NAME,
               tlm.PRINCIPAL_NO,
               tam.APPLICATION_ID,
               tam.APPLICATION_NAME
        FROM t_link_mnt tlm,
             t_link_service_mnt tlsm,
             t_white_list twl,
             t_application_mnt tam
        WHERE tlm.LINK_ID = tlsm.LINK_ID
          AND twl.INTERFACE_NAME = tlsm.INTERFACE_NAME
          AND tam.APPLICATION_NAME
            = twl.APPLICATION_NAME
          and tlm.LINK_ID = #{linkId}
        GROUP BY tam.APPLICATION_NAME, tlm.LINK_NAME
    </select>

    <!-- 根据链路id查询链路应用服务信息插入到链路检测表中 -->
    <select id="selectLinkWholeInfo" parameterType="String"
            resultType="com.pamirs.tro.entity.domain.vo.TLinkApplicationInterfaceVo">
        SELECT tlm.LINK_ID,
               tlm.LINK_NAME,
               tlm.PRINCIPAL_NO,
               tam.APPLICATION_ID,
               tam.APPLICATION_NAME,
               twl.INTERFACE_NAME
        FROM t_link_mnt tlm,
             t_link_service_mnt tlsm,
             t_white_list twl,
             t_application_mnt tam
        WHERE tlm.LINK_ID = tlsm.LINK_ID
          AND twl.INTERFACE_NAME = tlsm.INTERFACE_NAME
          AND tam.APPLICATION_NAME
            = twl.APPLICATION_NAME
          and tlm.LINK_ID = #{linkId}
    </select>

    <!--插入关联关系链路表-->
    <insert id="saveRelationLink" parameterType="com.pamirs.tro.entity.domain.entity.RelationLinkModel">
        <choose>
            <when test="objTable!=null and objTable!=''and objTable=='t_second_basic'.toString()">
                INSERT INTO
                t_second_basic
                (SECOND_LINK_ID,BASIC_LINK_ID,BLINK_ORDER,BLINK_BANK,CREATE_TIME,UPDATE_TIME)
                VALUES
                (#{parentLinkId},#{childLinkId},#{linkOrder},#{linkBank},now(),now())
            </when>
            <when test="objTable!=null and objTable!=''and objTable=='t_bs_tch_link'.toString()">
                INSERT INTO
                t_bs_tch_link
                (BLINK_ID,TLINK_ID,TLINK_ORDER,TLINK_BANK,CREATE_TIME,UPDATE_TIME)
                VALUES
                (#{parentLinkId},#{childLinkId},#{linkOrder},#{linkBank},now(),now())
            </when>
        </choose>
    </insert>

    <select id="queryRelationLinkRelationShip" parameterType="string" resultType="java.util.Map">
        <choose>
            <when test="objTable!=null and objTable!=''and objTable=='t_second_basic'.toString()">
                SELECT
                concat("",tsb.BASIC_LINK_ID) value,
                tlm.LINK_NAME label,
                tsb.BLINK_BANK LINK_BANK
                FROM
                t_second_basic tsb,
                t_second_link_mnt tslm,
                t_link_mnt tlm
                WHERE
                tsb.SECOND_LINK_ID = tslm.LINK_ID
                AND tsb.BASIC_LINK_ID = tlm.LINK_ID
                AND tslm.LINK_ID =#{parentLinkId}
                ORDER BY
                tsb.BLINK_BANK,
                tsb.BLINK_ORDER
            </when>
            <when test="objTable!=null and objTable!=''and objTable=='t_bs_tch_link'.toString()">
                SELECT
                concat("", tbtl.TLINK_ID)
                VALUE
                ,
                jtlm.LINK_NAME label,
                tbtl.TLINK_BANK LINK_BANK
                FROM
                t_bs_tch_link tbtl,
                (
                SELECT
                *
                FROM
                t_link_mnt
                <!--WHERE
                LINK_TYPE = '1'-->
                ) ytlm,
                (
                SELECT
                *
                FROM
                t_link_mnt
                <!--WHERE
                LINK_TYPE = '2'-->
                ) jtlm
                WHERE
                tbtl.BLINK_ID = ytlm.LINK_ID
                AND tbtl.TLINK_ID = jtlm.LINK_ID
                AND ytlm.LINK_ID = #{parentLinkId}
                ORDER BY
                tbtl.TLINK_BANK,
                tbtl.TLINK_ORDER
            </when>
        </choose>

    </select>
</mapper>
