<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright 2021 Shulie Technology, Co.Ltd
  ~ Email: shulie@shulie.io
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pamirs.tro.entity.dao.machine.TPressureMachineMapper">
    <resultMap id="BaseResultMap" type="com.pamirs.tro.entity.domain.entity.machine.PressureMachine">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="task_id" property="taskId" jdbcType="BIGINT"/>
        <result column="public_ip" property="publicIp" jdbcType="VARCHAR"/>
        <result column="private_ip" property="privateIp" jdbcType="VARCHAR"/>
        <result column="instance_id" property="instanceId" jdbcType="VARCHAR"/>
        <result column="instance_name" property="instanceName" jdbcType="VARCHAR"/>
        <result column="region_id" property="regionId" jdbcType="VARCHAR"/>
        <result column="region_name" property="regionName" jdbcType="VARCHAR"/>
        <result column="platform_id" property="platformId" jdbcType="BIGINT"/>
        <result column="platform_name" property="platformName" jdbcType="VARCHAR"/>
        <result column="account_id" property="accountId" jdbcType="BIGINT"/>
        <result column="account_name" property="accountName" jdbcType="VARCHAR"/>
        <result column="spec_id" property="specId" jdbcType="BIGINT"/>
        <result column="spec" property="spec" jdbcType="VARCHAR"/>
        <result column="ref_spec" property="refSpec" jdbcType="VARCHAR"/>
        <result column="open_type" property="openType" jdbcType="INTEGER"/>
        <result column="open_time" property="openTime" jdbcType="INTEGER"/>
        <result column="expire_date" property="expireDate" jdbcType="TIMESTAMP"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="is_delete" property="isDelete" jdbcType="BIT"/>
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP"/>
        <result column="gmt_update" property="gmtUpdate" jdbcType="TIMESTAMP"/>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.pamirs.tro.entity.domain.entity.machine.PressureMachine"
               extends="BaseResultMap">
        <result column="feature" property="feature" jdbcType="LONGVARCHAR"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        id, task_id, public_ip, private_ip, instance_id, instance_name, region_id, region_name,
    platform_id, platform_name, account_id, account_name, spec_id, spec, ref_spec, open_type,
    open_time, expire_date, status, is_delete, gmt_create, gmt_update
    </sql>
    <sql id="Blob_Column_List">
        feature
    </sql>
    <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs"
            parameterType="com.pamirs.tro.entity.domain.entity.machine.PressureMachineExample">
        select
        <if test="distinct">
            distinct
        </if>
        'false' as QUERYID,
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from t_pressure_machine
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByExample" resultMap="BaseResultMap"
            parameterType="com.pamirs.tro.entity.domain.entity.machine.PressureMachineExample">
        select
        <if test="distinct">
            distinct
        </if>
        'false' as QUERYID,
        <include refid="Base_Column_List"/>
        from t_pressure_machine
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from t_pressure_machine
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from t_pressure_machine
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.pamirs.tro.entity.domain.entity.machine.PressureMachine">
        insert into t_pressure_machine (id, task_id, public_ip,
                                        private_ip, instance_id, instance_name,
                                        region_id, region_name, platform_id,
                                        platform_name, account_id, account_name,
                                        spec_id, spec, ref_spec,
                                        open_type, open_time, expire_date,
                                        status, is_delete, gmt_create,
                                        gmt_update, feature)
        values (#{id,jdbcType=BIGINT}, #{taskId,jdbcType=BIGINT}, #{publicIp,jdbcType=VARCHAR},
                #{privateIp,jdbcType=VARCHAR}, #{instanceId,jdbcType=VARCHAR}, #{instanceName,jdbcType=VARCHAR},
                #{regionId,jdbcType=VARCHAR}, #{regionName,jdbcType=VARCHAR}, #{platformId,jdbcType=BIGINT},
                #{platformName,jdbcType=VARCHAR}, #{accountId,jdbcType=BIGINT}, #{accountName,jdbcType=VARCHAR},
                #{specId,jdbcType=BIGINT}, #{spec,jdbcType=VARCHAR}, #{refSpec,jdbcType=VARCHAR},
                #{openType,jdbcType=INTEGER}, #{openTime,jdbcType=INTEGER}, #{expireDate,jdbcType=TIMESTAMP},
                #{status,jdbcType=INTEGER}, #{isDelete,jdbcType=BIT}, #{gmtCreate,jdbcType=TIMESTAMP},
                #{gmtUpdate,jdbcType=TIMESTAMP}, #{feature,jdbcType=LONGVARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.pamirs.tro.entity.domain.entity.machine.PressureMachine">
        insert into t_pressure_machine
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="taskId != null">
                task_id,
            </if>
            <if test="publicIp != null">
                public_ip,
            </if>
            <if test="privateIp != null">
                private_ip,
            </if>
            <if test="instanceId != null">
                instance_id,
            </if>
            <if test="instanceName != null">
                instance_name,
            </if>
            <if test="regionId != null">
                region_id,
            </if>
            <if test="regionName != null">
                region_name,
            </if>
            <if test="platformId != null">
                platform_id,
            </if>
            <if test="platformName != null">
                platform_name,
            </if>
            <if test="accountId != null">
                account_id,
            </if>
            <if test="accountName != null">
                account_name,
            </if>
            <if test="specId != null">
                spec_id,
            </if>
            <if test="spec != null">
                spec,
            </if>
            <if test="refSpec != null">
                ref_spec,
            </if>
            <if test="openType != null">
                open_type,
            </if>
            <if test="openTime != null">
                open_time,
            </if>
            <if test="expireDate != null">
                expire_date,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="isDelete != null">
                is_delete,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="gmtUpdate != null">
                gmt_update,
            </if>
            <if test="feature != null">
                feature,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="taskId != null">
                #{taskId,jdbcType=BIGINT},
            </if>
            <if test="publicIp != null">
                #{publicIp,jdbcType=VARCHAR},
            </if>
            <if test="privateIp != null">
                #{privateIp,jdbcType=VARCHAR},
            </if>
            <if test="instanceId != null">
                #{instanceId,jdbcType=VARCHAR},
            </if>
            <if test="instanceName != null">
                #{instanceName,jdbcType=VARCHAR},
            </if>
            <if test="regionId != null">
                #{regionId,jdbcType=VARCHAR},
            </if>
            <if test="regionName != null">
                #{regionName,jdbcType=VARCHAR},
            </if>
            <if test="platformId != null">
                #{platformId,jdbcType=BIGINT},
            </if>
            <if test="platformName != null">
                #{platformName,jdbcType=VARCHAR},
            </if>
            <if test="accountId != null">
                #{accountId,jdbcType=BIGINT},
            </if>
            <if test="accountName != null">
                #{accountName,jdbcType=VARCHAR},
            </if>
            <if test="specId != null">
                #{specId,jdbcType=BIGINT},
            </if>
            <if test="spec != null">
                #{spec,jdbcType=VARCHAR},
            </if>
            <if test="refSpec != null">
                #{refSpec,jdbcType=VARCHAR},
            </if>
            <if test="openType != null">
                #{openType,jdbcType=INTEGER},
            </if>
            <if test="openTime != null">
                #{openTime,jdbcType=INTEGER},
            </if>
            <if test="expireDate != null">
                #{expireDate,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="isDelete != null">
                #{isDelete,jdbcType=BIT},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtUpdate != null">
                #{gmtUpdate,jdbcType=TIMESTAMP},
            </if>
            <if test="feature != null">
                #{feature,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByExampleSelective" parameterType="map">
        update t_pressure_machine
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=BIGINT},
            </if>
            <if test="record.taskId != null">
                task_id = #{record.taskId,jdbcType=BIGINT},
            </if>
            <if test="record.publicIp != null">
                public_ip = #{record.publicIp,jdbcType=VARCHAR},
            </if>
            <if test="record.privateIp != null">
                private_ip = #{record.privateIp,jdbcType=VARCHAR},
            </if>
            <if test="record.instanceId != null">
                instance_id = #{record.instanceId,jdbcType=VARCHAR},
            </if>
            <if test="record.instanceName != null">
                instance_name = #{record.instanceName,jdbcType=VARCHAR},
            </if>
            <if test="record.regionId != null">
                region_id = #{record.regionId,jdbcType=VARCHAR},
            </if>
            <if test="record.regionName != null">
                region_name = #{record.regionName,jdbcType=VARCHAR},
            </if>
            <if test="record.platformId != null">
                platform_id = #{record.platformId,jdbcType=BIGINT},
            </if>
            <if test="record.platformName != null">
                platform_name = #{record.platformName,jdbcType=VARCHAR},
            </if>
            <if test="record.accountId != null">
                account_id = #{record.accountId,jdbcType=BIGINT},
            </if>
            <if test="record.accountName != null">
                account_name = #{record.accountName,jdbcType=VARCHAR},
            </if>
            <if test="record.specId != null">
                spec_id = #{record.specId,jdbcType=BIGINT},
            </if>
            <if test="record.spec != null">
                spec = #{record.spec,jdbcType=VARCHAR},
            </if>
            <if test="record.refSpec != null">
                ref_spec = #{record.refSpec,jdbcType=VARCHAR},
            </if>
            <if test="record.openType != null">
                open_type = #{record.openType,jdbcType=INTEGER},
            </if>
            <if test="record.openTime != null">
                open_time = #{record.openTime,jdbcType=INTEGER},
            </if>
            <if test="record.expireDate != null">
                expire_date = #{record.expireDate,jdbcType=TIMESTAMP},
            </if>
            <if test="record.status != null">
                status = #{record.status,jdbcType=INTEGER},
            </if>
            <if test="record.isDelete != null">
                is_delete = #{record.isDelete,jdbcType=BIT},
            </if>
            <if test="record.gmtCreate != null">
                gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="record.gmtUpdate != null">
                gmt_update = #{record.gmtUpdate,jdbcType=TIMESTAMP},
            </if>
            <if test="record.feature != null">
                feature = #{record.feature,jdbcType=LONGVARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExampleWithBLOBs" parameterType="map">
        update t_pressure_machine
        set id = #{record.id,jdbcType=BIGINT},
        task_id = #{record.taskId,jdbcType=BIGINT},
        public_ip = #{record.publicIp,jdbcType=VARCHAR},
        private_ip = #{record.privateIp,jdbcType=VARCHAR},
        instance_id = #{record.instanceId,jdbcType=VARCHAR},
        instance_name = #{record.instanceName,jdbcType=VARCHAR},
        region_id = #{record.regionId,jdbcType=VARCHAR},
        region_name = #{record.regionName,jdbcType=VARCHAR},
        platform_id = #{record.platformId,jdbcType=BIGINT},
        platform_name = #{record.platformName,jdbcType=VARCHAR},
        account_id = #{record.accountId,jdbcType=BIGINT},
        account_name = #{record.accountName,jdbcType=VARCHAR},
        spec_id = #{record.specId,jdbcType=BIGINT},
        spec = #{record.spec,jdbcType=VARCHAR},
        ref_spec = #{record.refSpec,jdbcType=VARCHAR},
        open_type = #{record.openType,jdbcType=INTEGER},
        open_time = #{record.openTime,jdbcType=INTEGER},
        expire_date = #{record.expireDate,jdbcType=TIMESTAMP},
        status = #{record.status,jdbcType=INTEGER},
        is_delete = #{record.isDelete,jdbcType=BIT},
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
        gmt_update = #{record.gmtUpdate,jdbcType=TIMESTAMP},
        feature = #{record.feature,jdbcType=LONGVARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update t_pressure_machine
        set id = #{record.id,jdbcType=BIGINT},
        task_id = #{record.taskId,jdbcType=BIGINT},
        public_ip = #{record.publicIp,jdbcType=VARCHAR},
        private_ip = #{record.privateIp,jdbcType=VARCHAR},
        instance_id = #{record.instanceId,jdbcType=VARCHAR},
        instance_name = #{record.instanceName,jdbcType=VARCHAR},
        region_id = #{record.regionId,jdbcType=VARCHAR},
        region_name = #{record.regionName,jdbcType=VARCHAR},
        platform_id = #{record.platformId,jdbcType=BIGINT},
        platform_name = #{record.platformName,jdbcType=VARCHAR},
        account_id = #{record.accountId,jdbcType=BIGINT},
        account_name = #{record.accountName,jdbcType=VARCHAR},
        spec_id = #{record.specId,jdbcType=BIGINT},
        spec = #{record.spec,jdbcType=VARCHAR},
        ref_spec = #{record.refSpec,jdbcType=VARCHAR},
        open_type = #{record.openType,jdbcType=INTEGER},
        open_time = #{record.openTime,jdbcType=INTEGER},
        expire_date = #{record.expireDate,jdbcType=TIMESTAMP},
        status = #{record.status,jdbcType=INTEGER},
        is_delete = #{record.isDelete,jdbcType=BIT},
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
        gmt_update = #{record.gmtUpdate,jdbcType=TIMESTAMP}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective"
            parameterType="com.pamirs.tro.entity.domain.entity.machine.PressureMachine">
        update t_pressure_machine
        <set>
            <if test="taskId != null">
                task_id = #{taskId,jdbcType=BIGINT},
            </if>
            <if test="publicIp != null">
                public_ip = #{publicIp,jdbcType=VARCHAR},
            </if>
            <if test="privateIp != null">
                private_ip = #{privateIp,jdbcType=VARCHAR},
            </if>
            <if test="instanceId != null">
                instance_id = #{instanceId,jdbcType=VARCHAR},
            </if>
            <if test="instanceName != null">
                instance_name = #{instanceName,jdbcType=VARCHAR},
            </if>
            <if test="regionId != null">
                region_id = #{regionId,jdbcType=VARCHAR},
            </if>
            <if test="regionName != null">
                region_name = #{regionName,jdbcType=VARCHAR},
            </if>
            <if test="platformId != null">
                platform_id = #{platformId,jdbcType=BIGINT},
            </if>
            <if test="platformName != null">
                platform_name = #{platformName,jdbcType=VARCHAR},
            </if>
            <if test="accountId != null">
                account_id = #{accountId,jdbcType=BIGINT},
            </if>
            <if test="accountName != null">
                account_name = #{accountName,jdbcType=VARCHAR},
            </if>
            <if test="specId != null">
                spec_id = #{specId,jdbcType=BIGINT},
            </if>
            <if test="spec != null">
                spec = #{spec,jdbcType=VARCHAR},
            </if>
            <if test="refSpec != null">
                ref_spec = #{refSpec,jdbcType=VARCHAR},
            </if>
            <if test="openType != null">
                open_type = #{openType,jdbcType=INTEGER},
            </if>
            <if test="openTime != null">
                open_time = #{openTime,jdbcType=INTEGER},
            </if>
            <if test="expireDate != null">
                expire_date = #{expireDate,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="isDelete != null">
                is_delete = #{isDelete,jdbcType=BIT},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtUpdate != null">
                gmt_update = #{gmtUpdate,jdbcType=TIMESTAMP},
            </if>
            <if test="feature != null">
                feature = #{feature,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs"
            parameterType="com.pamirs.tro.entity.domain.entity.machine.PressureMachine">
        update t_pressure_machine
        set task_id       = #{taskId,jdbcType=BIGINT},
            public_ip     = #{publicIp,jdbcType=VARCHAR},
            private_ip    = #{privateIp,jdbcType=VARCHAR},
            instance_id   = #{instanceId,jdbcType=VARCHAR},
            instance_name = #{instanceName,jdbcType=VARCHAR},
            region_id     = #{regionId,jdbcType=VARCHAR},
            region_name   = #{regionName,jdbcType=VARCHAR},
            platform_id   = #{platformId,jdbcType=BIGINT},
            platform_name = #{platformName,jdbcType=VARCHAR},
            account_id    = #{accountId,jdbcType=BIGINT},
            account_name  = #{accountName,jdbcType=VARCHAR},
            spec_id       = #{specId,jdbcType=BIGINT},
            spec          = #{spec,jdbcType=VARCHAR},
            ref_spec      = #{refSpec,jdbcType=VARCHAR},
            open_type     = #{openType,jdbcType=INTEGER},
            open_time     = #{openTime,jdbcType=INTEGER},
            expire_date   = #{expireDate,jdbcType=TIMESTAMP},
            status        = #{status,jdbcType=INTEGER},
            is_delete     = #{isDelete,jdbcType=BIT},
            gmt_create    = #{gmtCreate,jdbcType=TIMESTAMP},
            gmt_update    = #{gmtUpdate,jdbcType=TIMESTAMP},
            feature       = #{feature,jdbcType=LONGVARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.pamirs.tro.entity.domain.entity.machine.PressureMachine">
        update t_pressure_machine
        set task_id       = #{taskId,jdbcType=BIGINT},
            public_ip     = #{publicIp,jdbcType=VARCHAR},
            private_ip    = #{privateIp,jdbcType=VARCHAR},
            instance_id   = #{instanceId,jdbcType=VARCHAR},
            instance_name = #{instanceName,jdbcType=VARCHAR},
            region_id     = #{regionId,jdbcType=VARCHAR},
            region_name   = #{regionName,jdbcType=VARCHAR},
            platform_id   = #{platformId,jdbcType=BIGINT},
            platform_name = #{platformName,jdbcType=VARCHAR},
            account_id    = #{accountId,jdbcType=BIGINT},
            account_name  = #{accountName,jdbcType=VARCHAR},
            spec_id       = #{specId,jdbcType=BIGINT},
            spec          = #{spec,jdbcType=VARCHAR},
            ref_spec      = #{refSpec,jdbcType=VARCHAR},
            open_type     = #{openType,jdbcType=INTEGER},
            open_time     = #{openTime,jdbcType=INTEGER},
            expire_date   = #{expireDate,jdbcType=TIMESTAMP},
            status        = #{status,jdbcType=INTEGER},
            is_delete     = #{isDelete,jdbcType=BIT},
            gmt_create    = #{gmtCreate,jdbcType=TIMESTAMP},
            gmt_update    = #{gmtUpdate,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>
