<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright 2021 Shulie Technology, Co.Ltd
  ~ Email: shulie@shulie.io
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pamirs.tro.entity.dao.strategy.TStrategyConfigMapper">
    <resultMap id="BaseResultMap" type="com.pamirs.tro.entity.domain.entity.strategy.StrategyConfig">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="strategy_name" property="strategyName" jdbcType="VARCHAR"/>
        <result column="strategy_config" property="strategyConfig" jdbcType="LONGVARCHAR"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="is_deleted" property="isDeleted" jdbcType="TINYINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, strategy_name, status, is_deleted, create_time, update_time, strategy_config
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from t_strategy_config
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        update t_strategy_config
        set is_deleted = 1
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.pamirs.tro.entity.domain.entity.strategy.StrategyConfig">
        insert into t_strategy_config (strategy_name, strategy_config)
            value (
                   #{strategyName,jdbcType=VARCHAR},
                   #{strategyConfig,jdbcType=LONGVARCHAR}
            )
    </insert>
    <update id="updateByPrimaryKeySelective"
            parameterType="com.pamirs.tro.entity.domain.entity.strategy.StrategyConfig">
        update t_strategy_config
        <set>
            <if test="strategyName != null">
                strategy_name = #{strategyName,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="strategyConfig != null">
                strategy_config = #{strategyConfig,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="getPageList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_strategy_config
        where is_deleted = 0
        order by update_time desc
    </select>
</mapper>
