module-id=datasource-common
#export-class=
#import-class=
export-package=com.pamirs.attach.plugin.common.datasource.*
import-package=com.pamirs.pradar.*,com.shulie.druid.*
#export-resource=
#import-resource=
# dependency of module or swither,multi split with comma
dependencies=pradar-core
simulator-version=1.0.0-
# must use
must-use=true