module-id=datasource-common
#export-class=
#import-class=
export-package=com.pamirs.attach.plugin.common.datasource.*
import-package=com.pamirs.pradar.*,com.shulie.druid.*
#export-resource=
#import-resource=
# define a switcher to management module load. call GlobalSwitch to change switcher status,
# it will trigger module loading if switcher is on, multi switcher split with comma
#switch-control=
# dependency simulator version
switch-control=pradar-core
simulator-version=1.0.0-
# must use
must-use=true