<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright 2021 Shulie Technology, Co.Ltd
  ~ Email: shulie@shulie.io
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pamirs.tro.entity.dao.report.TReportApplicationSummaryMapper">
    <resultMap id="BaseResultMap" type="com.pamirs.tro.entity.domain.entity.report.ReportApplicationSummary">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="report_id" property="reportId" jdbcType="BIGINT"/>
        <result column="application_name" property="applicationName" jdbcType="VARCHAR"/>
        <result column="machine_total_count" property="machineTotalCount" jdbcType="INTEGER"/>
        <result column="machine_risk_count" property="machineRiskCount" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, report_id, application_name, machine_total_count, machine_risk_count
    </sql>
    <select id="selectByParam" resultMap="BaseResultMap"
            parameterType="com.pamirs.tro.entity.domain.entity.report.ReportApplicationSummary">
        select
        <include refid="Base_Column_List"/>
        from t_report_application_summary
        where report_id = #{reportId,jdbcType=BIGINT}
        <if test="applicationName != null">
            and application_name = #{applicationName,jdbcType=VARCHAR}
        </if>
        order by machine_risk_count desc, machine_total_count desc, application_name asc
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from t_report_application_summary
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="selectCountByReportId" resultType="java.util.Map">
        select count(id)                as `count`,
               sum(machine_risk_count)  as `riskSum`,
               sum(machine_total_count) as `totalSum`
        from t_report_application_summary
        where report_id = #{reportId,jdbcType=BIGINT}
    </select>
    <insert id="insert" parameterType="com.pamirs.tro.entity.domain.entity.report.ReportApplicationSummary">
        insert into t_report_application_summary (report_id, application_name,
                                                  machine_total_count, machine_risk_count)
        values (#{reportId,jdbcType=BIGINT}, #{applicationName,jdbcType=VARCHAR},
                #{machineTotalCount,jdbcType=INTEGER}, #{machineRiskCount,jdbcType=INTEGER})
    </insert>

    <insert id="insertOrUpdate" parameterType="com.pamirs.tro.entity.domain.entity.report.ReportApplicationSummary">
        insert into t_report_application_summary (report_id, application_name,
                                                  machine_total_count, machine_risk_count)
        values (
                   #{reportId,jdbcType=BIGINT}, #{applicationName,jdbcType=VARCHAR},
                   #{machineTotalCount,jdbcType=INTEGER}, #{machineRiskCount,jdbcType=INTEGER}
               )
        on duplicate key update machine_total_count=#{machineTotalCount,jdbcType=INTEGER},
                                machine_risk_count=#{machineRiskCount,jdbcType=INTEGER}
    </insert>

    <insert id="insertBatch">
        insert into t_report_application_summary (report_id, application_name,
        machine_total_count, machine_risk_count)
        values
        <foreach collection="list" separator="," item="item">
            (#{item.reportId,jdbcType=BIGINT}, #{item.applicationName,jdbcType=VARCHAR},
            #{item.machineTotalCount,jdbcType=INTEGER}, #{item.machineRiskCount,jdbcType=INTEGER})
        </foreach>
    </insert>

    <delete id="deleteByReportId">
        delete
        from t_report_application_summary
        where report_id = #{reportId,jdbcType=BIGINT}
    </delete>
</mapper>
