<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2021 Shulie Technology, Co.Ltd
  ~ Email: shulie@shulie.io
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pamirs.tro.entity.dao.monitor.TAlarmDao">

    <resultMap id="BaseResultMap" type="com.pamirs.tro.entity.domain.entity.TAlarm">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="war_packages" jdbcType="VARCHAR" property="warPackages"/>
        <result column="ip" jdbcType="VARCHAR" property="ip"/>
        <result column="alarm_collects" jdbcType="VARCHAR" property="alarmCollects"/>
        <result column="alarm_date" jdbcType="TIMESTAMP" property="alarmDate"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
    </resultMap>

    <!--查询字段-->
    <sql id="Base_Column_List">
        id, war_packages, ip, alarm_collects, alarm_date, create_time, modify_time
    </sql>

    <!--查询列表-->
    <select id="selectList" parameterType="com.pamirs.tro.entity.domain.entity.TAlarm" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_alarm_list where is_deleted != 1
        <include refid="Data_Where_Clause"/>
        <include refid="Data_Where_Plus"/>
    </select>

    <!--查询列表总数-->
    <select id="selectListCount" parameterType="com.pamirs.tro.entity.domain.entity.TAlarm" resultType="java.lang.Long">
        select count(*) from t_alarm_list where is_deleted != 1
        <include refid="Data_Where_Clause"/>
    </select>

    <!--按id查询-->
    <select id="selectOneById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_alarm_list where id = #{id,jdbcType=BIGINT} and is_deleted != 1
    </select>

    <!--逻辑删除-->
    <update id="delete" parameterType="java.lang.Long">
        update t_alarm_list
        set is_deleted = 1
        where id = #{id,jdbcType=BIGINT}
    </update>

    <!--新增数据-->
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.pamirs.tro.entity.domain.query.TAlarmQuery"
            useGeneratedKeys="true">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        insert into t_alarm_list
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="warPackages != null">
                war_packages,
            </if>
            <if test="ip != null">
                ip,
            </if>
            <if test="alarmCollects != null">
                alarm_collects,
            </if>
            <if test="alarmDate != null">
                alarm_date,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="modifyTime != null">
                modify_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="warPackages != null">
                #{warPackages,jdbcType=VARCHAR},
            </if>
            <if test="ip != null">
                #{ip,jdbcType=VARCHAR},
            </if>
            <if test="alarmCollects != null">
                #{alarmCollects,jdbcType=VARCHAR},
            </if>
            <if test="alarmDate != null">
                #{alarmDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <!--修改数据-->
    <update id="update" parameterType="com.pamirs.tro.entity.domain.entity.TAlarm">
        update t_alarm_list
        <set>
            <if test="warPackages != null">
                war_packages = #{warPackages,jdbcType=VARCHAR},
            </if>
            <if test="ip != null">
                ip = #{ip,jdbcType=VARCHAR},
            </if>
            <if test="alarmCollects != null">
                alarm_collects = #{alarmCollects,jdbcType=VARCHAR},
            </if>
            <if test="alarmDate != null">
                alarm_date = #{alarmDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <!--查询条件-->
    <sql id="Data_Where_Clause">
        <if test="query != null">
            <if test="query.id != null">
                and id = #{query.id,jdbcType=BIGINT}
            </if>
            <if test="query.warPackages != null">
                and war_packages LIKE CONCAT('%', #{query.warPackages,jdbcType=VARCHAR} ,'%')
            </if>
            <if test="query.ip != null">
                and ip = #{query.ip,jdbcType=VARCHAR}
            </if>
            <if test="query.alarmCollects != null">
                and alarm_collects = #{query.alarmCollects,jdbcType=VARCHAR}
            </if>
            <if test="beginAlarmDate != null">
                and alarm_date &gt;= #{beginAlarmDate,jdbcType=TIMESTAMP}
            </if>
            <if test="endAlarmDate != null">
                and alarm_date &lt;= #{endAlarmDate,jdbcType=TIMESTAMP}
            </if>
            <if test="query.createTime != null">
                and create_time = #{query.createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="query.modifyTime != null">
                and modify_time = #{query.modifyTime,jdbcType=TIMESTAMP}
            </if>
            <if test="warNames != null and warNames.size() > 0">
                and war_packages in
                <foreach item="item" index="index" collection="warNames"
                         open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </if>
    </sql>

    <!--分页条件-->
    <sql id="Data_Where_Plus">
        <if test="orderBy != null">
            order by ${orderBy}
        </if>
        <if test="pageSize != null and start != null">
            limit #{start}, #{pageSize}
        </if>
        <if test="pageSize != null and start == null">
            limit #{pageSize}
        </if>
    </sql>
</mapper>
