<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2021 Shulie Technology, Co.Ltd
  ~ Email: shulie@shulie.io
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pamirs.tro.entity.dao.monitor.TReportDao">

    <resultMap id="BaseResultMap" type="com.pamirs.tro.entity.domain.entity.TReport">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="link_service_name" jdbcType="VARCHAR" property="linkServiceName"/>
        <result column="link_basic_name" jdbcType="VARCHAR" property="linkBasicName"/>
        <result column="link_basic" jdbcType="VARCHAR" property="linkBasic"/>
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime"/>
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime"/>
        <result column="rt_standard" jdbcType="INTEGER" property="rtStandard"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
        <result column="second_link_id" jdbcType="TIMESTAMP" property="secondLinkId"/>
        <result column="second_link_tps" jdbcType="TIMESTAMP" property="secondLinkTps"/>
    </resultMap>

    <!--查询字段-->
    <sql id="Base_Column_List">
        id, link_service_name, link_basic_name, link_basic, start_time, end_time, rt_standard, status, create_time, modify_time,second_link_id,second_link_tps
    </sql>

    <!--查询列表-->
    <select id="selectList" parameterType="com.pamirs.tro.entity.domain.query.TReportQuery" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_report_list where is_deleted != 1
        <include refid="Data_Where_Clause"/>
        <include refid="Data_Where_Plus"/>
    </select>

    <!--查询列表总数-->
    <select id="selectListCount" parameterType="com.pamirs.tro.entity.domain.entity.TReport"
            resultType="java.lang.Long">
        select count(*) from t_report_list where is_deleted != 1
        <include refid="Data_Where_Clause"/>
    </select>

    <!--按id查询-->
    <select id="selectOneById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_report_list where id = #{id,jdbcType=BIGINT} and is_deleted != 1
    </select>

    <!--按压测场景和状态查询-->
    <select id="selectScenarioId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_report_list where scenario_id = #{scenarioId,jdbcType=BIGINT} and is_deleted != 1 and status =
        #{status,jdbcType=INTEGER}
    </select>

    <!--逻辑删除-->
    <update id="delete" parameterType="java.lang.Long">
        update t_report_list
        set is_deleted = 1
        where id = #{id,jdbcType=BIGINT}
    </update>

    <!--新增-->
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.pamirs.tro.entity.domain.entity.TReport"
            useGeneratedKeys="true">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        insert into t_report_list
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="linkServiceName != null">
                link_service_name,
            </if>
            <if test="linkBasicName != null">
                link_basic_name,
            </if>
            <if test="linkBasic != null">
                link_basic,
            </if>
            <if test="startTime != null">
                start_time,
            </if>
            <if test="endTime != null">
                end_time,
            </if>
            <if test="rtStandard != null">
                rt_standard,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="modifyTime != null">
                modify_time,
            </if>
            <if test="secondLinkId != null">
                second_link_id,
            </if>
            <if test="secondLinkTps != null">
                second_link_tps,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="linkServiceName != null">
                #{linkServiceName,jdbcType=VARCHAR},
            </if>
            <if test="linkBasicName != null">
                #{linkBasicName,jdbcType=VARCHAR},
            </if>
            <if test="linkBasic != null">
                #{linkBasic,jdbcType=VARCHAR},
            </if>
            <if test="startTime != null">
                #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="rtStandard != null">
                #{rtStandard,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="secondLinkId != null">
                #{secondLinkId,jdbcType=BIGINT},
            </if>
            <if test="secondLinkTps != null">
                #{secondLinkTps,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>

    <!--修改-->
    <update id="update" parameterType="com.pamirs.tro.entity.domain.entity.TReport">
        update t_report_list
        <set>
            <if test="linkServiceName != null">
                link_service_name = #{linkServiceName,jdbcType=VARCHAR},
            </if>
            <if test="linkBasicName != null">
                link_basic_name = #{linkBasicName,jdbcType=VARCHAR},
            </if>
            <if test="linkBasic != null">
                link_basic = #{linkBasic,jdbcType=VARCHAR},
            </if>
            <if test="startTime != null">
                start_time = #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                end_time = #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="rtStandard != null">
                rt_standard = #{rtStandard,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="secondLinkTps != null">
                second_link_tps = #{secondLinkTps,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <!--条件查询-->
    <sql id="Data_Where_Clause">
        <if test="query != null">
            <if test="query.id != null">
                and id = #{query.id,jdbcType=BIGINT}
            </if>
            <if test="query.linkServiceName != null">
                and link_service_name = #{query.linkServiceName,jdbcType=VARCHAR}
            </if>
            <if test="query.linkBasicName != null">
                and link_basic_name = #{query.linkBasicName,jdbcType=VARCHAR}
            </if>
            <if test="query.startTime != null">
                and start_time = #{query.startTime,jdbcType=TIMESTAMP}
            </if>
            <if test="query.endTime != null">
                and end_time = #{query.endTime,jdbcType=TIMESTAMP}
            </if>
            <if test="query.rtStandard != null">
                and rt_standard = #{query.rtStandard,jdbcType=INTEGER}
            </if>
            <if test="query.status != null">
                and status = #{query.status,jdbcType=INTEGER}
            </if>
            <if test="query.createTime != null">
                and create_time = #{query.createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="query.modifyTime != null">
                and modify_time = #{query.modifyTime,jdbcType=TIMESTAMP}
            </if>
        </if>
    </sql>

    <!--分页-->
    <sql id="Data_Where_Plus">
        <if test="orderBy != null">
            order by ${orderBy}
        </if>
        <if test="pageSize != null and start != null">
            limit #{start}, #{pageSize}
        </if>
        <if test="pageSize != null and start == null">
            limit #{pageSize}
        </if>
    </sql>

    <select id="queryBySecondLinkIdAndStatus" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_report_list where second_link_id = #{secondLinkId} and is_deleted != 1 and status = #{status}
    </select>

    <select id="queryByStatus" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_report_list where is_deleted != 1 and status = #{status}
    </select>
</mapper>
