<?xml version="1.0" encoding="utf-8" ?>
<!--
  ~ Copyright 2021 Shulie Technology, Co.Ltd
  ~ Email: shulie@shulie.io
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pamirs.tro.entity.dao.confcenter.TBListMntDao">

    <!-- 校验该黑名单redisKey是否已经存在 -->
    <select id="bListExist" parameterType="String" resultType="Integer">
        select count(1)
        from t_black_list
        where REDIS_KEY = #{redisKey}
    </select>

    <!-- 新增黑名单信息 -->
    <insert id="addBList" parameterType="com.pamirs.tro.entity.domain.entity.TBList">
        insert into t_black_list
        (BLIST_ID,
         REDIS_KEY,
         USE_YN,
         CREATE_TIME,
         UPDATE_TIME)
        values (#{blistId},
                #{redisKey},
                #{useYn},
                now(),
                now())
    </insert>

    <!-- 查询黑名单列表 -->
    <select id="queryBList" parameterType="String"
            resultType="com.pamirs.tro.entity.domain.entity.TBList">
        SELECT
        BLIST_ID,
        REDIS_KEY,
        USE_YN,
        CREATE_TIME,
        UPDATE_TIME,
        CUSTOMER_ID,
        USER_ID
        from
        t_black_list
        where 1=1
        <if test="redisKey!=null and redisKey!=''">
            and REDIS_KEY like concat('%',#{redisKey},'%')
        </if>
        order by UPDATE_TIME desc
    </select>

    <!-- 根据黑名单id查询黑名单详情 -->
    <select id="querySingleBListById" parameterType="String"
            resultType="com.pamirs.tro.entity.domain.entity.TBList">
        select BLIST_ID,
               REDIS_KEY,
               USE_YN,
               CREATE_TIME,
               UPDATE_TIME,
                CUSTOMER_ID,
                USER_ID
        from t_black_list
        where BLIST_ID = #{blistId}
    </select>

    <!-- 根据id更新黑名单信息 -->
    <update id="updateBListById" parameterType="com.pamirs.tro.entity.domain.entity.TBList">
        update t_black_list
        set
        <if test="redisKey!=null and redisKey!=''">
            REDIS_KEY=#{redisKey},
        </if>
        <if test="useYn!=null and useYn!=''">
            USE_YN=#{useYn},
        </if>
        UPDATE_TIME=now()
        where
        BLIST_ID=#{blistId}
    </update>

    <!-- 根据黑名单id批量删除黑名单 -->
    <delete id="deleteBListByIds" parameterType="List">
        delete from t_black_list where BLIST_ID in
        <foreach collection="blistIds" separator="," item="blistId"
                 open="(" close=")">
            #{blistId}
        </foreach>
    </delete>

    <!-- 无参数查询白名单列表 -->
    <select id="queryBListList" resultType="java.util.Map">
        select REDIS_KEY
        from t_black_list
        where use_yn = 1
    </select>

    <!--根据id列表批量查询黑名单信息-->
    <select id="queryBListByIds" parameterType="list" resultType="com.pamirs.tro.entity.domain.entity.TBList">
        SELECT
        t1.*
        FROM
        t_black_list t1
        WHERE
        t1.BLIST_ID IN
        <foreach collection="blistIds" item="blistId" open="(" close=")" separator=",">
            #{blistId}
        </foreach>
        ORDER BY t1.BLIST_ID
    </select>

    <select id="getAllEnabledBlockList" resultType="com.pamirs.tro.entity.domain.entity.TBList">
        select BLIST_ID,
               REDIS_KEY
        from t_black_list
        where use_yn = 1 and APPLICATION_ID = 0
    </select>
</mapper>
