<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2021 Shulie Technology, Co.Ltd
  ~ Email: shulie@shulie.io
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pamirs.tro.entity.dao.confcenter.TShadowTableConfigDao">
    <resultMap id="BaseResultMap" type="com.pamirs.tro.entity.domain.entity.TShadowTableConfig">
        <constructor>
            <idArg column="ID" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="SHADOW_DATASOURCE_ID" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="SHADOW_TABLE_NAME" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="ENABLE_STATUS" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="CREATE_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="UPDATE_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        ID, SHADOW_DATASOURCE_ID, SHADOW_TABLE_NAME,
        ENABLE_STATUS, CREATE_TIME, UPDATE_TIME
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        select
        <include refid="Base_Column_List"/>
        from t_shadow_table_config
        where ID = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        delete from t_shadow_table_config
        where ID = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.pamirs.tro.entity.domain.entity.TShadowTableConfig">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        insert into t_shadow_table_config (ID, SHADOW_DATASOURCE_ID, SHADOW_TABLE_NAME,
        ENABLE_STATUS, CREATE_TIME, UPDATE_TIME
        )
        values (#{id,jdbcType=BIGINT}, #{shadowDatasourceId,jdbcType=BIGINT}, #{shadowTableName,jdbcType=VARCHAR},
        #{enableStatus,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <insert id="insertSelective" parameterType="com.pamirs.tro.entity.domain.entity.TShadowTableConfig">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        insert into t_shadow_table_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="shadowDatasourceId != null">
                SHADOW_DATASOURCE_ID,
            </if>
            <if test="shadowTableName != null">
                SHADOW_TABLE_NAME,
            </if>
            <if test="enableStatus != null">
                ENABLE_STATUS,
            </if>
            <if test="createTime != null">
                CREATE_TIME,
            </if>
            <if test="updateTime != null">
                UPDATE_TIME,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="shadowDatasourceId != null">
                #{shadowDatasourceId,jdbcType=BIGINT},
            </if>
            <if test="shadowTableName != null">
                #{shadowTableName,jdbcType=VARCHAR},
            </if>
            <if test="enableStatus != null">
                #{enableStatus,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.pamirs.tro.entity.domain.entity.TShadowTableConfig">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        update t_shadow_table_config
        <set>
            <if test="shadowDatasourceId != null">
                SHADOW_DATASOURCE_ID = #{shadowDatasourceId,jdbcType=BIGINT},
            </if>
            <if test="shadowTableName != null">
                SHADOW_TABLE_NAME = #{shadowTableName,jdbcType=VARCHAR},
            </if>
            <if test="enableStatus != null">
                ENABLE_STATUS = #{enableStatus,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where ID = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.pamirs.tro.entity.domain.entity.TShadowTableConfig">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        update t_shadow_table_config
        set SHADOW_DATASOURCE_ID = #{shadowDatasourceId,jdbcType=BIGINT},
        SHADOW_TABLE_NAME = #{shadowTableName,jdbcType=VARCHAR},
        ENABLE_STATUS = #{enableStatus,jdbcType=INTEGER},
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
        where ID = #{id,jdbcType=BIGINT}
    </update>

    <insert id="insertList" parameterType="java.util.List">

        insert into t_shadow_table_config (ID, SHADOW_DATASOURCE_ID, SHADOW_TABLE_NAME,
        ENABLE_STATUS, CREATE_TIME, UPDATE_TIME
        )
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.id,jdbcType=BIGINT},
            #{item.shadowDatasourceId,jdbcType=BIGINT},
            #{item.shadowTableName,jdbcType=VARCHAR},
            #{item.enableStatus,jdbcType=INTEGER},
            NOW(),
            NOW()
            )
        </foreach>

    </insert>

    <delete id="deleteByIdList" parameterType="List">
        delete from t_shadow_table_config
        where ID in
        <foreach collection="idList" separator=","
                 item="id" open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteByApplicationIdList" parameterType="List">
        delete from t_shadow_table_config where SHADOW_DATASOURCE_ID in (
        select SHADOW_DATASOURCE_ID from t_shadow_table_datasource where APPLICATION_ID in
        <foreach collection="applicationIdList" separator=","
                 item="applicationId" open="(" close=")">
            #{applicationId}
        </foreach>
        )
    </delete>

    <select id="queryShawdowTableConfigByShadowDatasourceIdList" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_shadow_table_config WHERE SHADOW_DATASOURCE_ID in
        <foreach collection="shadowDataSourceIdList" separator=","
                 item="shadowDataSourceId" open="(" close=")">
            #{shadowDataSourceId}
        </foreach>
        AND ENABLE_STATUS = 1
    </select>

    <select id="queryShadowTableByDatasourceId" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_shadow_table_config
        WHERE SHADOW_DATASOURCE_ID = #{shadowDatasourceId} AND SHADOW_TABLE_NAME IN
        <foreach collection="shadowTableNameList" item="shadowTableName" open="(" close=")" separator=",">
            #{shadowTableName}
        </foreach>
    </select>

    <select id="queryShadowTableConfigPage" parameterType="map"
            resultType="com.pamirs.tro.entity.domain.vo.TShadowTableConfigVo">
        SELECT t1.ID,t1.SHADOW_TABLE_NAME,t1.ENABLE_STATUS,t2.DATABASE_IPPORT,t2.DATABASE_NAME,
        t2.SHADOW_DATASOURCE_ID,t1.CREATE_TIME,t3.APPLICATION_ID,t3.APPLICATION_NAME
        FROM t_shadow_table_config t1
        LEFT JOIN t_shadow_table_datasource t2 on t1.SHADOW_DATASOURCE_ID = t2.SHADOW_DATASOURCE_ID
        LEFT JOIN t_application_mnt t3 on t3.APPLICATION_ID = t2.APPLICATION_ID
        WHERE t2.USE_SHADOW_TABLE = 1
        <if test="applicationName !=null and applicationName!=''">
            and t3.APPLICATION_NAME like concat('%',#{applicationName},'%')
        </if>
        <if test="shadowTableName!=null and shadowTableName!=''">
            and t1.SHADOW_TABLE_NAME like concat('%',#{shadowTableName},'%')
        </if>
        <if test="applicationId !=null and applicationId!=''">
            and t3.APPLICATION_ID = #{applicationId}
        </if>
        <if test="databaseIpPort !=null and databaseIpPort!=''">
            and t2.DATABASE_IPPORT like concat('%',#{databaseIpPort},'%')
        </if>
        <if test="databaseName !=null and databaseName!=''">
            and t2.DATABASE_NAME like concat('%',#{databaseName},'%')
        </if>

        ORDER BY t2.APPLICATION_ID, t2.DATABASE_IPPORT,t2.DATABASE_NAME,t2.UPDATE_TIME
    </select>

</mapper>
