module-id=servlet-common
#export-class=
#import-class=
export-package=com.pamirs.attach.plugin.common.web.*
import-package=com.pamirs.pradar.*,com.shulie.instrument.module.config.fetcher.config.*
#export-resource=
#import-resource=
# dependency of module or swither,multi split with comma
dependencies=pradar-core
# dependency simulator version
simulator-version=1.0.0-
# must use
must-use=true