module-id=servlet-common
#export-class=
#import-class=
export-package=com.pamirs.attach.plugin.common.web.*
import-package=com.pamirs.pradar.*,com.shulie.instrument.module.config.fetcher.config.*
#export-resource=
#import-resource=
# define a switcher to management module load. call GlobalSwitch to change switcher status,
# it will trigger module loading if switcher is on, multi switcher split with comma
switch-control=pradar-core
# dependency simulator version
simulator-version=1.0.0-
# must use
must-use=true