<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2021 Shulie Technology, Co.Ltd
  ~ Email: shulie@shulie.io
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.shulie.tro.web.data.mapper.mysql.AbstractDataMapper">
    <resultMap id="BaseResultMap" type="io.shulie.tro.web.data.model.mysql.AbstractDataEntity">
        <!--@mbg.generated-->
        <!--@Table t_abstract_data-->
        <id column="TAD_ID" jdbcType="BIGINT" property="tadId"/>
        <result column="TDC_ID" jdbcType="BIGINT" property="tdcId"/>
        <result column="TABLE_NAME" jdbcType="VARCHAR" property="tableName"/>
        <result column="SQL_DDl" jdbcType="LONGVARCHAR" property="sqlDdl"/>
        <result column="ABSTRACT_SQL" jdbcType="LONGVARCHAR" property="abstractSql"/>
        <result column="DEAL_SQL" jdbcType="LONGVARCHAR" property="dealSql"/>
        <result column="PRINCIPAL_NO" jdbcType="VARCHAR" property="principalNo"/>
        <result column="SQL_TYPE" jdbcType="INTEGER" property="sqlType"/>
        <result column="DB_STATUS" jdbcType="INTEGER" property="dbStatus"/>
        <result column="USE_YN" jdbcType="INTEGER" property="useYn"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="LOAD_STATUS" jdbcType="INTEGER" property="loadStatus"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        TAD_ID, TDC_ID, `TABLE_NAME`, SQL_DDl, ABSTRACT_SQL, DEAL_SQL, PRINCIPAL_NO, SQL_TYPE,
        DB_STATUS, USE_YN, CREATE_TIME, UPDATE_TIME, LOAD_STATUS
    </sql>
</mapper>
