<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2021 Shulie Technology, Co.Ltd
  ~ Email: shulie@shulie.io
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.shulie.tro.web.data.mapper.mysql.ApplicationMntMapper">
    <resultMap id="BaseResultMap" type="io.shulie.tro.web.data.model.mysql.ApplicationMntEntity">
        <!--@mbg.generated-->
        <!--@Table t_application_mnt-->
        <id column="APPLICATION_ID" jdbcType="BIGINT" property="applicationId"/>
        <result column="APPLICATION_NAME" jdbcType="VARCHAR" property="applicationName"/>
        <result column="APPLICATION_DESC" jdbcType="VARCHAR" property="applicationDesc"/>
        <result column="DDL_SCRIPT_PATH" jdbcType="VARCHAR" property="ddlScriptPath"/>
        <result column="CLEAN_SCRIPT_PATH" jdbcType="VARCHAR" property="cleanScriptPath"/>
        <result column="READY_SCRIPT_PATH" jdbcType="VARCHAR" property="readyScriptPath"/>
        <result column="BASIC_SCRIPT_PATH" jdbcType="VARCHAR" property="basicScriptPath"/>
        <result column="CACHE_SCRIPT_PATH" jdbcType="VARCHAR" property="cacheScriptPath"/>
        <result column="CACHE_EXP_TIME" jdbcType="BIGINT" property="cacheExpTime"/>
        <result column="USE_YN" jdbcType="INTEGER" property="useYn"/>
        <result column="AGENT_VERSION" jdbcType="VARCHAR" property="agentVersion"/>
        <result column="NODE_NUM" jdbcType="INTEGER" property="nodeNum"/>
        <result column="ACCESS_STATUS" jdbcType="INTEGER" property="accessStatus"/>
        <result column="SWITCH_STATUS" jdbcType="VARCHAR" property="switchStatus"/>
        <result column="EXCEPTION_INFO" jdbcType="LONGVARCHAR" property="exceptionInfo"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="ALARM_PERSON" jdbcType="VARCHAR" property="alarmPerson"/>
        <result column="PRADAR_VERSION" jdbcType="VARCHAR" property="pradarVersion"/>
        <result column="USER_ID" jdbcType="BIGINT" property="userId"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        APPLICATION_ID, APPLICATION_NAME, APPLICATION_DESC, DDL_SCRIPT_PATH, CLEAN_SCRIPT_PATH,
        READY_SCRIPT_PATH, BASIC_SCRIPT_PATH, CACHE_SCRIPT_PATH, CACHE_EXP_TIME, USE_YN,
        AGENT_VERSION, NODE_NUM, ACCESS_STATUS, SWITCH_STATUS, EXCEPTION_INFO, CREATE_TIME,
        UPDATE_TIME, ALARM_PERSON, PRADAR_VERSION, USER_ID
    </sql>
</mapper>
