<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2021 Shulie Technology, Co.Ltd
  ~ Email: shulie@shulie.io
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.shulie.tro.web.data.mapper.mysql.BsTchLinkMapper">
    <resultMap id="BaseResultMap" type="io.shulie.tro.web.data.model.mysql.BsTchLinkEntity">
        <!--@mbg.generated-->
        <!--@Table t_bs_tch_link-->
        <result column="BLINK_ID" jdbcType="BIGINT" property="blinkId"/>
        <result column="TLINK_ID" jdbcType="BIGINT" property="tlinkId"/>
        <result column="TLINK_ORDER" jdbcType="INTEGER" property="tlinkOrder"/>
        <result column="TLINK_BANK" jdbcType="INTEGER" property="tlinkBank"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        BLINK_ID, TLINK_ID, TLINK_ORDER, TLINK_BANK, CREATE_TIME, UPDATE_TIME
    </sql>
</mapper>
