<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2021 Shulie Technology, Co.Ltd
  ~ Email: shulie@shulie.io
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.shulie.tro.web.data.mapper.mysql.CapacityWaterLevelDetailMapper">
    <resultMap id="BaseResultMap" type="io.shulie.tro.web.data.model.mysql.CapacityWaterLevelDetailEntity">
        <!--@mbg.generated-->
        <!--@Table t_capacity_water_level_detail-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="cwli_id" jdbcType="BIGINT" property="cwliId"/>
        <result column="app_id" jdbcType="VARCHAR" property="appId"/>
        <result column="app_name" jdbcType="VARCHAR" property="appName"/>
        <result column="server_ip" jdbcType="VARCHAR" property="serverIp"/>
        <result column="standard" jdbcType="BOOLEAN" property="standard"/>
        <result column="cpu_use_ratio" jdbcType="VARCHAR" property="cpuUseRatio"/>
        <result column="cpu_load" jdbcType="VARCHAR" property="cpuLoad"/>
        <result column="memory_use_ratio" jdbcType="VARCHAR" property="memoryUseRatio"/>
        <result column="disk_use_ratio" jdbcType="VARCHAR" property="diskUseRatio"/>
        <result column="ygc" jdbcType="VARCHAR" property="ygc"/>
        <result column="fgc" jdbcType="VARCHAR" property="fgc"/>
        <result column="cache_read_rt" jdbcType="VARCHAR" property="cacheReadRt"/>
        <result column="cache_write_rt" jdbcType="VARCHAR" property="cacheWriteRt"/>
        <result column="db_read_rt" jdbcType="VARCHAR" property="dbReadRt"/>
        <result column="db_write_rt" jdbcType="VARCHAR" property="dbWriteRt"/>
        <result column="remote_call_rt" jdbcType="VARCHAR" property="remoteCallRt"/>
        <result column="cache_read_tps" jdbcType="VARCHAR" property="cacheReadTps"/>
        <result column="cache_write_tpst" jdbcType="VARCHAR" property="cacheWriteTpst"/>
        <result column="db_tps" jdbcType="VARCHAR" property="dbTps"/>
        <result column="remote_call_tps" jdbcType="VARCHAR" property="remoteCallTps"/>
        <result column="is_deleted" jdbcType="BOOLEAN" property="isDeleted"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, cwli_id, app_id, app_name, server_ip, `standard`, cpu_use_ratio, cpu_load, memory_use_ratio,
        disk_use_ratio, ygc, fgc, cache_read_rt, cache_write_rt, db_read_rt, db_write_rt,
        remote_call_rt, cache_read_tps, cache_write_tpst, db_tps, remote_call_tps, is_deleted,
        CREATE_TIME, UPDATE_TIME
    </sql>
</mapper>
