<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2021 Shulie Technology, Co.Ltd
  ~ Email: shulie@shulie.io
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.shulie.tro.web.data.mapper.mysql.DatabaseConfMapper">
  <resultMap id="BaseResultMap" type="io.shulie.tro.web.data.model.mysql.DatabaseConfEntity">
    <!--@mbg.generated-->
    <!--@Table t_database_conf-->
    <id column="TDC_ID" jdbcType="BIGINT" property="tdcId" />
    <result column="BASIC_LINK_ID" jdbcType="BIGINT" property="basicLinkId" />
    <result column="DB_TYPE" jdbcType="INTEGER" property="dbType" />
    <result column="DATA_SOURCE" jdbcType="VARCHAR" property="dataSource" />
    <result column="DATA_TURN" jdbcType="VARCHAR" property="dataTurn" />
    <result column="URL" jdbcType="VARCHAR" property="url" />
    <result column="USERNAME" jdbcType="VARCHAR" property="username" />
    <result column="PASSWD" jdbcType="VARCHAR" property="passwd" />
    <result column="DRIVER_CLASS_NAME" jdbcType="VARCHAR" property="driverClassName" />
    <result column="DATABASE_IP" jdbcType="VARCHAR" property="databaseIp" />
    <result column="DATABASE_NAME" jdbcType="VARCHAR" property="databaseName" />
    <result column="DB_STATUS" jdbcType="INTEGER" property="dbStatus" />
    <result column="LOAD_STATUS" jdbcType="INTEGER" property="loadStatus" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="DICT_TYPE" jdbcType="VARCHAR" property="dictType" />
    <result column="PUBLIC_KEY" jdbcType="VARCHAR" property="publicKey" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    TDC_ID, BASIC_LINK_ID, DB_TYPE, DATA_SOURCE, DATA_TURN, URL, USERNAME, PASSWD, DRIVER_CLASS_NAME, 
    DATABASE_IP, DATABASE_NAME, DB_STATUS, LOAD_STATUS, CREATE_TIME, UPDATE_TIME, DICT_TYPE, 
    PUBLIC_KEY
  </sql>
</mapper>