<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2021 Shulie Technology, Co.Ltd
  ~ Email: shulie@shulie.io
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.shulie.tro.web.data.mapper.mysql.DictionaryTypeMapper">
    <resultMap id="BaseResultMap" type="io.shulie.tro.web.data.model.mysql.DictionaryTypeEntity">
        <!--@mbg.generated-->
        <!--@Table t_dictionary_type-->
        <id column="ID" jdbcType="VARCHAR" property="id"/>
        <result column="TYPE_NAME" jdbcType="VARCHAR" property="typeName"/>
        <result column="ACTIVE" jdbcType="CHAR" property="active"/>
        <result column="CREATE_TIME" jdbcType="DATE" property="createTime"/>
        <result column="MODIFY_TIME" jdbcType="DATE" property="modifyTime"/>
        <result column="CREATE_USER_CODE" jdbcType="VARCHAR" property="createUserCode"/>
        <result column="MODIFY_USER_CODE" jdbcType="VARCHAR" property="modifyUserCode"/>
        <result column="PARENT_CODE" jdbcType="VARCHAR" property="parentCode"/>
        <result column="TYPE_ALIAS" jdbcType="VARCHAR" property="typeAlias"/>
        <result column="IS_LEAF" jdbcType="CHAR" property="isLeaf"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        ID, TYPE_NAME, ACTIVE, CREATE_TIME, MODIFY_TIME, CREATE_USER_CODE, MODIFY_USER_CODE,
        PARENT_CODE, TYPE_ALIAS, IS_LEAF
    </sql>
</mapper>
