<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2021 Shulie Technology, Co.Ltd
  ~ Email: shulie@shulie.io
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.shulie.tro.web.data.mapper.mysql.FastDebugConfigInfoMapper">
  <resultMap id="BaseResultMap" type="io.shulie.tro.web.data.model.mysql.FastDebugConfigInfoEntity">
    <!--@mbg.generated-->
    <!--@Table t_fast_debug_config_info-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="request_url" jdbcType="VARCHAR" property="requestUrl" />
    <result column="headers" jdbcType="VARCHAR" property="headers" />
    <result column="body" jdbcType="LONGVARCHAR" property="body" />
    <result column="timeout" jdbcType="BIGINT" property="timeout" />
    <result column="is_redirect" jdbcType="BOOLEAN" property="isRedirect" />
    <result column="business_link_id" jdbcType="BIGINT" property="businessLinkId" />
    <result column="content_type" jdbcType="VARCHAR" property="contentType" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="is_deleted" jdbcType="BOOLEAN" property="isDeleted" />
    <result column="creator_id" jdbcType="BIGINT" property="creatorId" />
    <result column="modifier_id" jdbcType="BIGINT" property="modifierId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, request_url, headers, body, timeout, is_redirect, business_link_id, content_type, 
    `status`, gmt_create, gmt_modified, is_deleted, creator_id, modifier_id
  </sql>
</mapper>