<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2021 Shulie Technology, Co.Ltd
  ~ Email: shulie@shulie.io
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.shulie.tro.web.data.mapper.mysql.FastDebugExceptionMapper">
  <resultMap id="BaseResultMap" type="io.shulie.tro.web.data.model.mysql.FastDebugExceptionEntity">
    <!--@mbg.generated-->
    <!--@Table t_fast_debug_exception-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="result_id" jdbcType="BIGINT" property="resultId" />
    <result column="trace_id" jdbcType="VARCHAR" property="traceId" />
    <result column="rpc_id" jdbcType="VARCHAR" property="rpcId" />
    <result column="applicationName" jdbcType="VARCHAR" property="applicationname" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="suggestion" jdbcType="VARCHAR" property="suggestion" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="is_deleted" jdbcType="BOOLEAN" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, result_id, trace_id, rpc_id, applicationName, `type`, code, description, suggestion, 
    `time`, gmt_create, gmt_modified, is_deleted
  </sql>
</mapper>