<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2021 Shulie Technology, Co.Ltd
  ~ Email: shulie@shulie.io
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.shulie.tro.web.data.mapper.mysql.IsolationAppMainConfigMapper">
    <resultMap id="BaseResultMap" type="io.shulie.tro.web.data.model.mysql.IsolationAppMainConfigEntity">
        <!--@mbg.generated-->
        <!--@Table t_isolation_app_main_config-->
        <id column="application_id" jdbcType="BIGINT" property="applicationId"/>
        <result column="check_network" jdbcType="BOOLEAN" property="checkNetwork"/>
        <result column="mock_app_nodes" jdbcType="VARCHAR" property="mockAppNodes"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="iso_app_rets" jdbcType="LONGVARCHAR" property="isoAppRets"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="error_msg" jdbcType="VARCHAR" property="errorMsg"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        application_id, check_network, mock_app_nodes, `status`, iso_app_rets, create_time,
        update_time, error_msg
    </sql>
</mapper>
