<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2021 Shulie Technology, Co.Ltd
  ~ Email: shulie@shulie.io
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.shulie.tro.web.data.mapper.mysql.JobStatusTraceLogMapper">
    <resultMap id="BaseResultMap" type="io.shulie.tro.web.data.model.mysql.JobStatusTraceLogEntity">
        <!--@mbg.generated-->
        <!--@Table JOB_STATUS_TRACE_LOG-->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="job_name" jdbcType="VARCHAR" property="jobName"/>
        <result column="original_task_id" jdbcType="VARCHAR" property="originalTaskId"/>
        <result column="task_id" jdbcType="VARCHAR" property="taskId"/>
        <result column="slave_id" jdbcType="VARCHAR" property="slaveId"/>
        <result column="source" jdbcType="VARCHAR" property="source"/>
        <result column="execution_type" jdbcType="VARCHAR" property="executionType"/>
        <result column="sharding_item" jdbcType="VARCHAR" property="shardingItem"/>
        <result column="state" jdbcType="VARCHAR" property="state"/>
        <result column="message" jdbcType="VARCHAR" property="message"/>
        <result column="creation_time" jdbcType="TIMESTAMP" property="creationTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, job_name, original_task_id, task_id, slave_id, `source`, execution_type, sharding_item,
        `state`, message, creation_time
    </sql>
</mapper>
