<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2021 Shulie Technology, Co.Ltd
  ~ Email: shulie@shulie.io
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.shulie.tro.web.data.mapper.mysql.LeakVerifyDeployMapper">
  <resultMap id="BaseResultMap" type="io.shulie.tro.web.data.model.mysql.LeakVerifyDeploy">
    <!--@mbg.generated-->
    <!--@Table t_leak_verify_deploy-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="leak_verify_id" jdbcType="BIGINT" property="leakVerifyId" />
    <result column="application_name" jdbcType="VARCHAR" property="applicationName" />
    <result column="entry_name" jdbcType="VARCHAR" property="entryName" />
    <result column="pressure_request_count" jdbcType="BIGINT" property="pressureRequestCount" />
    <result column="pressure_leak_count" jdbcType="BIGINT" property="pressureLeakCount" />
    <result column="biz_request_count" jdbcType="BIGINT" property="bizRequestCount" />
    <result column="biz_leak_count" jdbcType="BIGINT" property="bizLeakCount" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_update" jdbcType="TIMESTAMP" property="gmtUpdate" />
    <result column="is_deleted" jdbcType="BOOLEAN" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, leak_verify_id, application_name, entry_name, pressure_request_count, pressure_leak_count, 
    biz_request_count, biz_leak_count, gmt_create, gmt_update, is_deleted
  </sql>
</mapper>