<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2021 Shulie Technology, Co.Ltd
  ~ Email: shulie@shulie.io
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.shulie.tro.web.data.mapper.mysql.LinkTopologyInfoMapper">
    <resultMap id="BaseResultMap" type="io.shulie.tro.web.data.model.mysql.LinkTopologyInfoEntity">
        <!--@mbg.generated-->
        <!--@Table t_link_topology_info-->
        <id column="TLTI_ID" jdbcType="BIGINT" property="tltiId"/>
        <result column="LINK_ID" jdbcType="BIGINT" property="linkId"/>
        <result column="LINK_NAME" jdbcType="VARCHAR" property="linkName"/>
        <result column="ENTRANCE_TYPE" jdbcType="VARCHAR" property="entranceType"/>
        <result column="LINK_ENTRANCE" jdbcType="VARCHAR" property="linkEntrance"/>
        <result column="NAME_SERVER" jdbcType="VARCHAR" property="nameServer"/>
        <result column="LINK_TYPE" jdbcType="VARCHAR" property="linkType"/>
        <result column="LINK_GROUP" jdbcType="VARCHAR" property="linkGroup"/>
        <result column="FROM_LINK_IDS" jdbcType="VARCHAR" property="fromLinkIds"/>
        <result column="TO_LINK_IDS" jdbcType="VARCHAR" property="toLinkIds"/>
        <result column="SHOW_FROM_LINK_ID" jdbcType="VARCHAR" property="showFromLinkId"/>
        <result column="SHOW_TO_LINK_ID" jdbcType="VARCHAR" property="showToLinkId"/>
        <result column="SECOND_LINK_ID" jdbcType="VARCHAR" property="secondLinkId"/>
        <result column="SECOND_LINK_NAME" jdbcType="VARCHAR" property="secondLinkName"/>
        <result column="APPLICATION_NAME" jdbcType="VARCHAR" property="applicationName"/>
        <result column="VOLUME_CALC_STATUS" jdbcType="VARCHAR" property="volumeCalcStatus"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        TLTI_ID, LINK_ID, LINK_NAME, ENTRANCE_TYPE, LINK_ENTRANCE, NAME_SERVER, LINK_TYPE,
        LINK_GROUP, FROM_LINK_IDS, TO_LINK_IDS, SHOW_FROM_LINK_ID, SHOW_TO_LINK_ID, SECOND_LINK_ID,
        SECOND_LINK_NAME, APPLICATION_NAME, VOLUME_CALC_STATUS, CREATE_TIME, UPDATE_TIME
    </sql>
</mapper>
