<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2021 Shulie Technology, Co.Ltd
  ~ Email: shulie@shulie.io
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.shulie.tro.web.data.mapper.mysql.LinkLiveConfigMapper">
    <resultMap id="BaseResultMap" type="io.shulie.tro.web.data.model.mysql.LinkLiveConfigEntity">
        <!--@mbg.generated-->
        <!--@Table t_link_live_config-->
        <id column="live_id" jdbcType="BIGINT" property="liveId"/>
        <result column="application_name" jdbcType="VARCHAR" property="applicationName"/>
        <result column="interface_name" jdbcType="VARCHAR" property="interfaceName"/>
        <result column="interface_type" jdbcType="VARCHAR" property="interfaceType"/>
        <result column="threshold" jdbcType="VARCHAR" property="threshold"/>
        <result column="alarm_policy" jdbcType="VARCHAR" property="alarmPolicy"/>
        <result column="live_source" jdbcType="CHAR" property="liveSource"/>
        <result column="entry_flag" jdbcType="CHAR" property="entryFlag"/>
        <result column="scene_name" jdbcType="VARCHAR" property="sceneName"/>
        <result column="aswan_id" jdbcType="VARCHAR" property="aswanId"/>
        <result column="live_status" jdbcType="CHAR" property="liveStatus"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        live_id, application_name, interface_name, interface_type, threshold, alarm_policy,
        live_source, entry_flag, scene_name, aswan_id, live_status, create_time, update_time
    </sql>
</mapper>
