<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2021 Shulie Technology, Co.Ltd
  ~ Email: shulie@shulie.io
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.shulie.tro.web.data.mapper.mysql.LinkBottleneckMapper">
    <resultMap id="BaseResultMap" type="io.shulie.tro.web.data.model.mysql.LinkBottleneckEntity">
        <!--@mbg.generated-->
        <!--@Table t_link_bottleneck-->
        <id column="ID" jdbcType="BIGINT" property="id"/>
        <result column="APP_NAME" jdbcType="VARCHAR" property="appName"/>
        <result column="KEY_WORDS" jdbcType="VARCHAR" property="keyWords"/>
        <result column="BOTTLENECK_TYPE" jdbcType="BOOLEAN" property="bottleneckType"/>
        <result column="BOTTLENECK_LEVEL" jdbcType="BOOLEAN" property="bottleneckLevel"/>
        <result column="TEXT" jdbcType="LONGVARCHAR" property="text"/>
        <result column="CONTENT" jdbcType="LONGVARCHAR" property="content"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime"/>
        <result column="ACTIVE" jdbcType="CHAR" property="active"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        ID, APP_NAME, KEY_WORDS, BOTTLENECK_TYPE, BOTTLENECK_LEVEL, `TEXT`, CONTENT, CREATE_TIME,
        MODIFY_TIME, ACTIVE
    </sql>
</mapper>
