<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2021 Shulie Technology, Co.Ltd
  ~ Email: shulie@shulie.io
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.shulie.tro.web.data.mapper.mysql.LinkDetectionMapper">
    <resultMap id="BaseResultMap" type="io.shulie.tro.web.data.model.mysql.LinkDetectionEntity">
        <!--@mbg.generated-->
        <!--@Table t_link_detection-->
        <id column="LINK_DETECTION_ID" jdbcType="BIGINT" property="linkDetectionId"/>
        <result column="APPLICATION_ID" jdbcType="BIGINT" property="applicationId"/>
        <result column="SHADOWLIB_CHECK" jdbcType="INTEGER" property="shadowlibCheck"/>
        <result column="SHADOWLIB_ERROR" jdbcType="LONGVARCHAR" property="shadowlibError"/>
        <result column="CACHE_CHECK" jdbcType="INTEGER" property="cacheCheck"/>
        <result column="CACHE_ERROR" jdbcType="LONGVARCHAR" property="cacheError"/>
        <result column="WLIST_CHECK" jdbcType="INTEGER" property="wlistCheck"/>
        <result column="WLIST_ERROR" jdbcType="LONGVARCHAR" property="wlistError"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        LINK_DETECTION_ID, APPLICATION_ID, SHADOWLIB_CHECK, SHADOWLIB_ERROR, CACHE_CHECK,
        CACHE_ERROR, WLIST_CHECK, WLIST_ERROR, CREATE_TIME, UPDATE_TIME
    </sql>
</mapper>
