<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2021 Shulie Technology, Co.Ltd
  ~ Email: shulie@shulie.io
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.shulie.tro.web.data.mapper.mysql.PradarAppAgentMapper">
    <resultMap id="BaseResultMap" type="io.shulie.tro.web.data.model.mysql.PradarAppAgentEntity">
        <!--@mbg.generated-->
        <!--@Table pradar_app_agent-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="app_group_id" jdbcType="BIGINT" property="appGroupId"/>
        <result column="ip" jdbcType="VARCHAR" property="ip"/>
        <result column="machine_room" jdbcType="VARCHAR" property="machineRoom"/>
        <result column="host_port" jdbcType="VARCHAR" property="hostPort"/>
        <result column="hostname" jdbcType="VARCHAR" property="hostname"/>
        <result column="agent_status" jdbcType="TINYINT" property="agentStatus"/>
        <result column="agent_version" jdbcType="VARCHAR" property="agentVersion"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
        <result column="deleted" jdbcType="INTEGER" property="deleted"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, app_group_id, ip, machine_room, host_port, hostname, agent_status, agent_version,
        create_time, modify_time, deleted
    </sql>
</mapper>
