<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2021 Shulie Technology, Co.Ltd
  ~ Email: shulie@shulie.io
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.shulie.tro.web.data.mapper.mysql.ReportListMapper">
    <resultMap id="BaseResultMap" type="io.shulie.tro.web.data.model.mysql.ReportListEntity">
        <!--@mbg.generated-->
        <!--@Table t_report_list-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="second_link_id" jdbcType="BIGINT" property="secondLinkId"/>
        <result column="second_link_tps" jdbcType="INTEGER" property="secondLinkTps"/>
        <result column="link_service_name" jdbcType="VARCHAR" property="linkServiceName"/>
        <result column="link_basic_name" jdbcType="LONGVARCHAR" property="linkBasicName"/>
        <result column="link_basic" jdbcType="LONGVARCHAR" property="linkBasic"/>
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime"/>
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime"/>
        <result column="rt_standard" jdbcType="INTEGER" property="rtStandard"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
        <result column="is_deleted" jdbcType="INTEGER" property="isDeleted"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, second_link_id, second_link_tps, link_service_name, link_basic_name, link_basic,
        start_time, end_time, rt_standard, `status`, create_time, modify_time, is_deleted
    </sql>
</mapper>
