<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2021 Shulie Technology, Co.Ltd
  ~ Email: shulie@shulie.io
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.shulie.tro.web.data.mapper.mysql.RocketmqProducerMapper">
    <resultMap id="BaseResultMap" type="io.shulie.tro.web.data.model.mysql.RocketmqProducerEntity">
        <!--@mbg.generated-->
        <!--@Table t_rocketmq_producer-->
        <id column="TRP_ID" jdbcType="BIGINT" property="trpId"/>
        <result column="MSG_TYPE" jdbcType="VARCHAR" property="msgType"/>
        <result column="DICT_TYPE" jdbcType="VARCHAR" property="dictType"/>
        <result column="MSG_IP" jdbcType="VARCHAR" property="msgIp"/>
        <result column="TOPIC" jdbcType="VARCHAR" property="topic"/>
        <result column="GROUPNAME" jdbcType="VARCHAR" property="groupname"/>
        <result column="SLEEP_TIME" jdbcType="BIGINT" property="sleepTime"/>
        <result column="MSG_COUNT" jdbcType="BIGINT" property="msgCount"/>
        <result column="THREAD_COUNT" jdbcType="INTEGER" property="threadCount"/>
        <result column="MESSAGE_SIZE" jdbcType="BIGINT" property="messageSize"/>
        <result column="MSG_SUCCESS_COUNT" jdbcType="BIGINT" property="msgSuccessCount"/>
        <result column="PRODUCE_STATUS" jdbcType="VARCHAR" property="produceStatus"/>
        <result column="PRODUCE_START_TIME" jdbcType="TIMESTAMP" property="produceStartTime"/>
        <result column="PRODUCE_END_TIME" jdbcType="TIMESTAMP" property="produceEndTime"/>
        <result column="LAST_PRODUCE_TIME" jdbcType="TIMESTAMP" property="lastProduceTime"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="THREAD_COUNT1" jdbcType="BIGINT" property="threadCount1"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        TRP_ID, MSG_TYPE, DICT_TYPE, MSG_IP, TOPIC, GROUPNAME, SLEEP_TIME, MSG_COUNT, THREAD_COUNT,
        MESSAGE_SIZE, MSG_SUCCESS_COUNT, PRODUCE_STATUS, PRODUCE_START_TIME, PRODUCE_END_TIME,
        LAST_PRODUCE_TIME, CREATE_TIME, UPDATE_TIME, THREAD_COUNT1
    </sql>
</mapper>
