<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2021 Shulie Technology, Co.Ltd
  ~ Email: shulie@shulie.io
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.shulie.tro.web.data.mapper.mysql.ShadowMqConsumerMapper">
    <resultMap id="BaseResultMap" type="io.shulie.tro.web.data.model.mysql.ShadowMqConsumerEntity">
        <!--@mbg.generated-->
        <!--@Table t_shadow_mq_consumer-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="topicGroup" jdbcType="VARCHAR" property="topic_group"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="application_id" jdbcType="BIGINT" property="applicationId"/>
        <result column="application_name" jdbcType="VARCHAR" property="applicationName"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="customer_id" jdbcType="BIGINT" property="customerId"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="deleted" jdbcType="INTEGER" property="deleted"/>
        <result column="feature" jdbcType="LONGVARCHAR" property="feature"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, `type`, `topic_group`, application_id, application_name, `status`, customer_id,
        user_id, deleted, feature, create_time, update_time
    </sql>
</mapper>
