<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2021 Shulie Technology, Co.Ltd
  ~ Email: shulie@shulie.io
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.shulie.tro.web.data.mapper.mysql.TraceManageMapper">
    <resultMap id="BaseResultMap" type="io.shulie.tro.web.data.model.mysql.TraceManageEntity">
        <!--@mbg.generated-->
        <!--@Table t_trace_manage-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="trace_object" jdbcType="VARCHAR" property="traceObject"/>
        <result column="report_id" jdbcType="BIGINT" property="reportId"/>
        <result column="agent_id" jdbcType="VARCHAR" property="agentId"/>
        <result column="server_ip" jdbcType="VARCHAR" property="serverIp"/>
        <result column="process_id" jdbcType="INTEGER" property="processId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="feature" jdbcType="LONGVARCHAR" property="feature"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, trace_object, report_id, agent_id, server_ip, process_id, create_time, update_time,
        feature
    </sql>
</mapper>
