<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2021 Shulie Technology, Co.Ltd
  ~ Email: shulie@shulie.io
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.shulie.tro.web.data.mapper.mysql.TroDeptMapper">
    <resultMap id="BaseResultMap" type="io.shulie.tro.web.data.model.mysql.TroDeptEntity">
        <!--@mbg.generated-->
        <!--@Table t_tro_dept-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="parent_id" jdbcType="BIGINT" property="parentId"/>
        <result column="level" jdbcType="VARCHAR" property="level"/>
        <result column="path" jdbcType="VARCHAR" property="path"/>
        <result column="sequence" jdbcType="INTEGER" property="sequence"/>
        <result column="ref_id" jdbcType="VARCHAR" property="refId"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="is_deleted" jdbcType="BOOLEAN" property="isDeleted"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, `name`, code, parent_id, `level`, `path`, `sequence`, ref_id, remark, create_time,
        update_time, is_deleted
    </sql>


    <!--批量的插入 or  更新的操作-->
    <insert id="saveOrUpdateDeptBatch" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
        INSERT INTO t_tro_dept
        (id,parent_id,`code`,`level`,`name`)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.id},
            #{item.parentId},
            #{item.code},
            #{item.level},
            #{item.name})
        </foreach>
        ON DUPLICATE KEY UPDATE
        id = VALUES ( id ),
        parent_id = VALUES ( parent_id ),
        `code` = VALUES ( `code` ),
        `level` = VALUES ( `level` ),
        `name` = VALUES ( `name` );
    </insert>
</mapper>
