module-id=pradar-config-fetcher
use-dynamic-field=false
#export-class=
#import-class=
export-package=com.shulie.instrument.module.config.fetcher.config.*
import-package=com.pamirs.pradar.*,com.shulie.instrument.module.register.zk.*,com.shulie.instrument.module.log.data.pusher.*
#export-resource=
#import-resource=
# define a switcher to management module load. call GlobalSwitch to change switcher status,
# it will trigger module loading if switcher is on, multi switcher split with comma
switch-control=pradar-core
# dependency simulator version
middleware-module=false
simulator-version=1.0.0-
# must use
must-use=true